<div class="c-noticia ic-comp-h">
  <div [class.fadeOut]="closing" class="c-noticia__container ic-comp-cont-vc ic-card fadeIn" *ngIf="data">
    <div class="c-noticia__container__header ic-header">
      <p class="ic-title">DETALLE DOCUMENTO</p>
    </div>

    <div class="c-detail-table">
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-2">Nombre</div>
          <div class="col col-3">Fecha alta</div>
        </li>
        <li class="table-row">
          <div class="col col-2">{{ data.name }}</div>
          <div class="col col-3">{{ data.createdAt | date: 'dd/MM/yyyy H:mm' }}</div>
        </li>
      </ul>
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-2">Tipo</div>
          <div class="col col-3">Tamaño</div>
        </li>
        <li class="table-row">
          <div class="col col-2">{{ data.fileExt }}</div>
          <div class="col col-3">{{ data.filesize | filesize }}</div>
        </li>
      </ul>
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">audiencia</div>
        </li>
        <li class="table-row">
          <div class="ic-item-value-area">
            <p class="c-incidencia__container__item__value">
              {{ data.audiencia }}
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="c-noticia__container__btns ic-btns-block">
      <button class="btn-download-m">
        <a class="label-action-download" [href]="data.publicUrlPath" target="_blank">Descargar</a>
      </button>
      <button class="btn-red-m" (click)="close()">
        Cerrar
      </button>
    </div>
  </div>
</div>
