<div class="c-reservas-settings">
  <div class="c-reservas-settings__container">
    <div class="c-reservas-settings__container__header">
      <p>Configurar Comunidades</p>
    </div>
    <div class="i-form-item">
      <p class="i-form-item__label">Configurar la comunidad</p>
      <nz-select class="i-form-item__select" [(ngModel)]="selectedComunity" (ngModelChange)="setComunity($event)" [nzPlaceHolder]="'Selecciona una comunidad'">
        <nz-option *ngFor="let comunity of comunities" [nzLabel]="comunity.name" [nzValue]="comunity"></nz-option>
      </nz-select>
    </div>
    <app-no-data *ngIf="selectedComunity && !isLocalActive && !isPadelActive && !isTenisActive" [image]="false"></app-no-data>
    <!-- LOCAL -->
    <div class="c-reservas-settings__container__local" *ngIf="isLocalActive">
      <div class="c-reservas-settings__container__header">
        <p>Configurar - Local</p>
      </div>
      <div class="i-form-container-start">
        <div class="i-form-item" *ngIf="availableHoursLocal">
          <p class="i-form-item__label">Horario inicio</p>
          <nz-select class="i-form-item__select" [(ngModel)]="startHour.local" (ngModelChange)="setStartHour('local', $event)" [nzPlaceHolder]="'Selecciona una hora'">
            <nz-option *ngFor="let hour of availableHoursLocal.hours" [nzLabel]="hour" [nzValue]="hour"></nz-option>
          </nz-select>
        </div>
        <div class="i-form-item" *ngIf="availableHoursLocal">
          <p class="i-form-item__label">Horario fin</p>
          <nz-select class="i-form-item__select" [(ngModel)]="endHour.local" (ngModelChange)="setEndHour('local', $event)" [nzPlaceHolder]="'Selecciona una hora'">
            <nz-option *ngFor="let hour of availableHoursLocal.hours" [nzLabel]="hour" [nzValue]="hour"></nz-option>
          </nz-select>
        </div>
        <div class="i-form-item">
          <p class="i-form-item__label">Activar Pago</p>
          <label class="i-form-item__checkbox" nz-checkbox nzDisabled [ngModel]="localPayValue"></label>
        </div>
        <div class="i-form-item" *ngIf="localPayValue">
          <p class="i-form-item__label">Precio/hora</p>
          <input class="i-form-item__input" nz-input [(ngModel)]="unitPriceLocalValue" type="text" id="unitPriceLocal" placeholder="0" />
        </div>
        <div class="btns-container">
          <button [class.c-btn-disabled]="!isLocalFormValid" [disabled]="!isLocalFormValid" class="btns-container__btnok" (click)="makeRequestUpdateLocal()">
            Guardar cambios
          </button>
        </div>
      </div>
      <!-- PADEL -->
      <div class="c-reservas-settings__container__padel" *ngIf="isPadelActive">
        <div class="c-reservas-settings__container__header">
          <p>Configurar - Pádel</p>
        </div>
        <div class="i-form-container-start" *ngIf="availableHoursPadel">
          <div class="i-form-item">
            <p class="i-form-item__label">Horario inicio</p>
            <nz-select class="i-form-item__select" [(ngModel)]="startHour.padel" (ngModelChange)="setStartHour('padel', $event)" [nzPlaceHolder]="'Selecciona una hora'">
              <nz-option *ngFor="let hour of availableHoursPadel.hours" [nzLabel]="hour" [nzValue]="hour"></nz-option>
            </nz-select>
          </div>
          <div class="i-form-item">
            <p class="i-form-item__label">Horario fin</p>
            <nz-select class="i-form-item__select" [(ngModel)]="endHour.padel" (ngModelChange)="setEndHour('padel', $event)" [nzPlaceHolder]="'Selecciona una hora'">
              <nz-option *ngFor="let hour of availableHoursPadel.hours" [nzLabel]="hour" [nzValue]="hour"></nz-option>
            </nz-select>
          </div>

          <div class="btns-container">
            <button [class.c-btn-disabled]="!isPadelFormValid" [disabled]="!isPadelFormValid" class="btns-container__btnok" (click)="makeRequestUpdatePadel()">
              Guardar cambios
            </button>
          </div>
        </div>
      </div>
      <!-- TENIS -->
      <div class="c-reservas-settings__container__tenis" *ngIf="isTenisActive">
        <div class="c-reservas-settings__container__header">
          <p>Configurar - Tenis</p>
        </div>
        <div class="i-form-container-start" *ngIf="availableHoursTenis">
          <div class="i-form-item">
            <p class="i-form-item__label">Horario inicio</p>
            <nz-select class="i-form-item__select" [(ngModel)]="startHour.tenis" (ngModelChange)="setStartHour('tenis', $event)" [nzPlaceHolder]="'Selecciona una hora'">
              <nz-option *ngFor="let hour of availableHoursTenis.hours" [nzLabel]="hour" [nzValue]="hour"></nz-option>
            </nz-select>
          </div>
          <div class="i-form-item">
            <p class="i-form-item__label">Horario fin</p>
            <nz-select class="i-form-item__select" [(ngModel)]="endHour.tenis" (ngModelChange)="setEndHour('tenis', $event)" [nzPlaceHolder]="'Selecciona una hora'">
              <nz-option *ngFor="let hour of availableHoursTenis.hours" [nzLabel]="hour" [nzValue]="hour"></nz-option>
            </nz-select>
          </div>

          <div class="btns-container">
            <button [class.c-btn-disabled]="!isTenisFormValid" [disabled]="!isTenisFormValid" class="btns-container__btnok" (click)="makeRequestUpdateTenis()">
              Guardar cambios
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
