<div class="sidenav">
  <div class="sidenav__sidebar" [class.expanded]="expanded" [class.closed]="!expanded">
    <div class="sidenav__planinfos">
      <div class="sidenav__planinfos__branding">
        <p class="sidenav__planinfos__branding__appname">ICOMUNITY</p>
        <p>PANEL WEB</p>
        <p class="version">v{{ environment.version }}</p>
      </div>
      <div class="sidebar-separator"></div>
      <div class="sidenav__planinfos__content" *ngIf="selectedComunity && selectedComunity.extras">
        <img class="plan-icon" *ngIf="selectedComunity.extras.plan === 'BASIC'" [src]="planInfosIcons.BASIC" />
        <img class="plan-icon" *ngIf="selectedComunity.extras.plan !== 'BASIC' && !selectedComunity.extras.planExpired" [src]="planInfosIcons.OK" />
        <img class="plan-icon" *ngIf="selectedComunity.extras.plan !== 'BASIC' && selectedComunity.extras.planExpired" [src]="planInfosIcons.EXPIRED" />

        <div class="sidenav__planinfos__content__basic" *ngIf="selectedComunity.extras.plan === 'BASIC'">
          <div class="plan-name">
            Plan:
            <p>ICOMUNITY {{ selectedComunity.extras.plan }}</p>
          </div>
          <div class="plan-date">
            Expira:
            <p>
              {{ selectedComunity.extras.planExpiredDate | date: 'dd/MM/yyyy' }}
            </p>
          </div>
        </div>
        <div class="sidenav__planinfos__content__ok" *ngIf="selectedComunity && selectedComunity.extras.plan !== 'BASIC' && !selectedComunity.extras.planExpired">
          <div class="plan-name">
            PLAN ACTIVO:
            <p>ICOMUNITY {{ selectedComunity.extras.plan }}</p>
          </div>
          <div class="plan-date">
            Fecha expiración:
            <p>
              {{ selectedComunity.extras.planExpiredDate | date: 'dd/MM/yyyy' }}
            </p>
          </div>
          <div class="plan-message"></div>
        </div>
        <div class="sidenav__planinfos__content__expired" *ngIf="selectedComunity && selectedComunity.extras.plan !== 'BASIC' && selectedComunity.extras.planExpired">
          <div class="plan-name">
            PLAN EXPIRADO:
            <p>ICOMUNITY {{ selectedComunity.extras.plan }}</p>
          </div>
          <div class="plan-date">
            Fecha expiración:
            <p>
              {{ selectedComunity.extras.planExpiredDate | date: 'dd/MM/yyyy' }}
            </p>
          </div>
          <div class="plan-message">
            <p>Por favor, póngase en contacto con nuestro equipo de Soporte para resolver la incidencia.</p>
          </div>
        </div>
      </div>
      <div class="profil-container" *ngIf="adminUser">
        <img class="profil-container__companyLogo" *ngIf="adminUser.company && adminUser.company.logoUrl" [src]="adminUser.company.logoUrl" />
        <div class="profil-divider"></div>
        <div class="profil-container__data">
          <div class="profil-container__data__name">
            <p>{{ adminUser.name }}</p>
            <div class="profil-container__data__name__dot"></div>
          </div>
          <p class="profil-container__data__mainrole">Rol: {{ adminUser.mainRole }}</p>
          <p *ngIf="adminUser.lastConnection" class="profil-container__data__lastaccess">Ult. acceso: {{ adminUser.lastConnection | date: 'dd/MM/yyyy HH:mm' }}</p>
        </div>
      </div>
    </div>
    <div class="sidenav__selector">
      <mat-card *ngIf="comunities$ | async as comunities">
        <mat-form-field>
          <mat-select placeholder="Selecciona una comunidad" [(ngModel)]="selectedComunityName">
            <mat-option *ngFor="let com of comunities; let i = index" (click)="onSelected(com)" [value]="com.name">
              {{ com.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
    </div>

    <div class="sidebar-separator"></div>
    <div
      class="sidenav__sidebar-item"
      [routerLink]="menuItem.route"
      [class.active]="menuItem.active"
      [class.hide-menu]="menuItem.hidden"
      *ngFor="let menuItem of menuItems"
      (click)="menuClick(menuItem)"
    >
      <img class="sidenav__sidebar-item__icon" [src]="menuItem.icon" />
      <span class="sidenav__sidebar-item__title">{{ menuItem.label }}</span>
    </div>

    <div class="sidenav__sidebar__footer">
      <div class="sidenav__sidebar__footer__logout">
        <button (click)="logout()">
          <img [src]="logoutIcon" />
          Cerrar sesión
        </button>
      </div>
      <app-contact-support></app-contact-support>
      <div class="sidenav__sidebar__footer__content">
        <p class="copyright">© Powered by ICOMUNITY 2022</p>
      </div>
    </div>
  </div>

  <div class="sidenav__page" [class.page-expanded]="!expanded">
    <div class="sidenav__top-nav">
      <div class="sidenav__toggle" (click)="toggleSideNav()">
        <i class="fa fa-bars hand" aria-hidden="true"></i>
      </div>
      <p class="sidenav__top-nav__pagetitle no-hover">{{ pageTitle }}</p>
      <p class="today-date">{{ todayDate }}</p>
    </div>
    <div class="sidenav__page-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
