$sidebar-border-color: transparent;
$sidebar-bg-color: #008080;
$sidebar-font-color: #dadada;
$sidebar-hover-bg-color: #bababa4a;

.sidenav {
  background-color: rgb(237, 238, 240);
  height: 100vh;
  display: flex;

  &__selector {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    margin-bottom: 10px;

    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }

    mat-card {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      padding-bottom: 10px;
      border-radius: 0px;
    }

    mat-icon {
      margin: 0px 15px 0px 0px;
      width: 15px;
    }

    mat-form-field {
      width: 80%;
      height: 40px;
      padding: 0;
      margin: 0;
    }


  }


  &__planinfos {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;

    &__branding {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: black;


      img {
        width: 85px;
        height: 85px;
        margin: 5px;
        border-radius: 50%;
      }

      p {
        padding: 0;
        margin-bottom: 5px;
        font-size: 12px;
        color: white;
      }


      &__appname {
        padding: 0;
        margin-bottom: 5px;
        font-size: 18px !important;
        font-weight: 500 !important;
        color: white;
      }
    }

    &__content {
      display: flex;
      align-items: center;
      width: 100%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      padding: 5px;
      margin: 5px 0px;
      background-color: white;


      img {
        margin: 5px;
        margin-right: 15px;

      }

      p {
        margin: 10px;
      }

    }
  }


  &__toggle {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      display: flex;
      align-items: center;
    }
  }

  &__page {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
    margin: 5px;
  }

  &__page-content {
    color: $sidebar-font-color;
    padding: 10px 10px 10px 20px;
    max-height: calc(100vh - 50px);
    overflow-y: auto;
  }



  &__top-nav {
    background-color: $sidebar-bg-color;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid $sidebar-border-color;
    display: flex;
    align-items: center;
    min-height: 50px;
    color: $sidebar-font-color;
    padding: 5px;
    position: relative;

    &__pagetitle {
      display: flex;
      height: 100%;
      align-items: center;
      padding: 0;
      margin: 0;
    }
  }

  &__top-nav-item {
    padding: 10px;
    color: $sidebar-font-color;

    &:hover {
      background-color: $sidebar-hover-bg-color;
      text-decoration: none;
      color: $sidebar-font-color;
    }
  }




  &__sidebar {
    background-color: $sidebar-bg-color;
    //border-right: 1px solid $sidebar-border-color;
    height: 100vh;
    width: 300px;
    overflow: auto;
    position: relative;



    &__footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      padding: 0;
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;

      &__logout {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          width: 190px;
          border: none;
          border-radius: 3px;
          padding: 8px;
          font-size: 12px;
          font-weight: 400;
          background-color: #a10f3d;
          color: white;


          img {
            width: 15px;
            height: 15px;
            margin: 5px;
          }
        }
      }

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 5px;
        margin: 0;
        width: 100%;

        p {
          font-size: 12px;
          font-weight: 200;
          padding: 0;
        }
      }
    }
  }



  &__sidebar-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 15px;
    color: $sidebar-font-color;
    height: 50px;
    overflow: hidden;


    &__icon {
      width: 20px;
      height: 20px;
      margin: 0px 15px;
    }

    &__title {}

    &.active {
      background-color: $sidebar-hover-bg-color;
    }

    &.no-hover:hover {
      background-color: $sidebar-bg-color;
    }

    &:hover {
      background-color: $sidebar-hover-bg-color;
    }
  }




}

.sidebar-separator {
  width: 100%;
  height: 1px;
  background-color: #ffffff78;
  margin: 10px 0px;
}

.page-expanded {
  width: 100%;
}

.expanded {
  width: 300px;
  -webkit-animation: slideExpand 1s;
  animation: slideExpand 1s;
}

.closed {
  width: 0px;
  -webkit-animation: slideClose 1s;
  animation: slideClose 1s;
}

.hide-menu {
  display: none;
}

.show-menu {
  display: flex;
}

.hand {
  cursor: pointer;
}

.hide {
  font-size: 0;
  visibility: hidden;
}




.plan-name {
  display: flex;
  align-items: center;
  font-weight: 400;
  color: black;
  font-size: 12px;

  p {
    margin: 0;
    color: #248bd3;
    padding: 0;
    padding-left: 5px;
  }
}

.plan-date {
  display: flex;
  align-items: center;
  font-weight: 400;
  color: black;
  font-size: 12px;

  p {
    margin: 0;
    color: #e56b6b;
    padding: 0;
    padding-left: 5px;
  }
}

.plan-message {
  display: flex;
  align-items: center;

  p {
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: darkgray;
    font-size: 14px;
  }
}

.plan-icon {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.profil-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: white;

  &__companyLogo {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0px 5px;
  }

  &__data {

    &__name {
      display: flex;
      align-items: center;

      p {
        font-size: 12px;
        font-weight: 300;
        padding: 0;
        margin: 0;
      }

      &__dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 5px;
        background-color: green;
      }
    }

    &__mainrole {
      font-size: 12px;
      font-weight: 500;
    }

    &__lastaccess {
      font-size: 11px;
      font-weight: 300;
      color: grey;
    }

    p {
      padding: 0;
      margin: 0;
    }
  }

}

.profil-divider {
  width: 1px;
  height: 30px;
  margin: 0px 4px;
  background-color: #d3d3d340;
}





@-webkit-keyframes slideClose {
  0% {
    width: 300px
  }

  100% {
    width: 0px
  }
}

@keyframes slideClose {
  0% {
    width: 300px
  }

  100% {
    width: 0px
  }
}

@-webkit-keyframes slideExpand {
  0% {
    width: 0px
  }

  100% {
    width: 300px
  }
}

@keyframes slideExpand {
  0% {
    width: 0px
  }

  100% {
    width: 300px
  }
}
