.c-incidencia {
  &__container {
    &__item {
      &__select {
        display: flex;
        align-items: center;
        font-size: 15px;

        &__type {
          color: black;
          font-weight: 300;
          width: 180px;
        }

        &__name {
          color: black;
          font-weight: 300;
          margin-left: 10px;
        }

        &__email {
          color: #0f5fa5;
          font-weight: 500;
          margin-left: 10px;
        }
      }

      &__label {}

      &__value {}
    }
  }
}

.mat-select {
  color: white !important;
}
