<div class="c-incidencia ic-comp-h">
  <div [class.fadeOut]="closing" class="c-incidencia__container ic-comp-cont-vc ic-card fadeIn" *ngIf="data">
    <div class="c-incidencia__container__header ic-header">
      <p class="ic-title">COMPARTIR INCIDENCIA</p>
    </div>
    <div class="c-detail-table">
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">Categoria</div>
          <div class="col col-2">Tipo</div>
          <div class="col col-3">Fecha alta</div>
        </li>
        <li class="table-row">
          <div class="col col-1">{{ data.category }}</div>
          <div class="col col-2">{{ data.type }}</div>
          <div class="col col-3">{{ data.created_at | date: 'dd/MM/yyyy H:mm' }}</div>
        </li>
      </ul>
      <ul class="responsive-table" *ngIf="data && data.user">
        <li class="table-header">
          <div class="col col-1">Remitente</div>
          <div class="col col-2">Contacto</div>
          <div class="col col-3">Dirección</div>
        </li>
        <li class="table-row">
          <div class="col col-1">{{ data.username }}</div>
          <div class="col col-2">{{ data.user.email }} [tel:{{ data.user.phone }}]</div>
          <div class="col col-3">{{ data.user.adress }} {{ data.user.planta }} {{ data.user.door }}</div>
        </li>
      </ul>
      <p *ngIf="data && !data.user" class="ic-subtitle-red">
        Contacto y Dirección del remitente indisponible
      </p>
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">Descripción</div>
        </li>
        <li class="table-row">
          <div class="ic-item-value-area">
            <p class="c-incidencia__container__item__value">
              {{ data.description }}
            </p>
          </div>
        </li>
      </ul>
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-2">Email del gremio</div>
        </li>
        <li class="table-row">
          <div class="ic-item-full">
            <mat-slide-toggle class="c-incidencia__container__item ic-item-v " (change)="changeSelectGremio($event)" [checked]="selectGremio" [(ngModel)]="selectGremio">
              <p class="c-incidencia__container__item__label ic-item-label">
                Seleccionar gremio
              </p>
            </mat-slide-toggle>
            <div class="c-incidencia__container__item ic-item-xl " *ngIf="!selectGremio">
              <div class="c-incidencia__container__item ic-item-v ">
                <p class="c-incidencia__container__item__label ic-item-label">
                  Introduce el email del gremio
                </p>
                <input [(ngModel)]="inputGremio" />
              </div>
            </div>
            <div class="c-incidencia__container__item ic-item-xxl " *ngIf="selectGremio">
              <div class="c-incidencia__container__item ic-item-vl ">
                <p class="c-incidencia__container__item__label ic-item-label">
                  Selecciona el gremio
                </p>
                <mat-select placeholder="Seleccionar gremio">
                  <mat-option *ngFor="let service of services; let i = index" (click)="onGremioSelected(service)" [value]="service.name">
                    <div class="c-incidencia__container__item__select">
                      <p class="c-incidencia__container__item__select__type">{{ service.type }} -</p>
                      <p class="c-incidencia__container__item__select__name">{{ service.name }}</p>
                      <p class="c-incidencia__container__item__select__email" *ngIf="service.email && service.email !== ''">- {{ service.email }}</p>
                    </div>
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="c-incidencia__container__btns ic-btns-block">
      <button class="btn-teal-m" (click)="triggerOpenEmail()">
        Compartir incidencia
      </button>
      <button class="btn-red-m" (click)="close()">
        Cerrar
      </button>
    </div>
  </div>
</div>
