<div class="c-user-detail ic-comp-h">
  <div [class.fadeOut]="closing" class="c-user-detail__container ic-comp-cont-vc ic-card fadeIn" *ngIf="data">
    <div class="c-user-detail__container__header ic-header">
      <p class="ic-title">DETALLE USUARIO</p>
    </div>
    <div class="c-detail-table">
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-2">Nombre</div>
          <div class="col col-2">Email</div>
          <div class="col col-3">Fecha alta</div>
        </li>
        <li class="table-row">
          <div class="col col-2">{{ data.name }}</div>
          <div class="col col-2">{{ data.email }}</div>
          <div class="col col-3">{{ data.created_at | date: 'dd/MM/yyyy HH:mm' }}</div>
        </li>
      </ul>
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-2">Teléfono</div>
          <div class="col col-2">Dirección</div>
        </li>
        <li class="table-row">
          <div class="col col-2">{{ data.phone }}</div>
          <div class="col col-2">{{ data.adress }} {{ data.planta }} {{ data.door }}</div>
        </li>
      </ul>
    </div>

    <div class="c-user-detail__container__btns ic-btns-block">
      <button class="btn-red-m" (click)="close()">
        Cerrar
      </button>
    </div>
  </div>
</div>
