<div class="c-image-viewer ic-comp-h ">
  <div class="c-image-viewer__container ic-comp-image-viewer ic-card fadeIn" [class.fadeOut]="closing">
    <div class="c-image-viewer__container__header ic-header-image-viewer">
      <p class="ic-title-image-viewer">VISTA IMAGEN</p>
      <img class="btn-close-image-viewer" [src]="closeIcon" (click)="close()" />
      <a [href]="url" target="_blank">
        <img class="btn-download-image-viewer" [src]="downloadIcon" />
      </a>
    </div>
    <div class="c-image-viewer__container__content image-viewer-container" *ngIf="url && url !== '' && imageLoaded">
      <img class="image-viewer" [imageZoom]="url" [src]="url" (error)="handleMissingImage($event)" />
    </div>
    <div *ngIf="!url || url === '' || !imageLoaded">
      <p class="image-viewer-error">Imagen temporalmente indisponible...</p>
    </div>
  </div>
</div>
