.c-noticias {
  &__container {
    &__no-data {
      width: 100%;
      min-height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}


mat-card {
  padding: 8px;
}

.body {
  margin: 10px;
}

mat-header-cell {
  font-size: 0.7em;
  color: #3F51B5;
}

.submit-btn {
  width: 200px;
}

.tableau {
  text-align: center;
  font-size: 20px;
  border: lightgray 2px solid;
  height: 600px;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

div.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 22%;
  height: 120px;
}


/* Style the buttons inside the tab */

div.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}


/* Change background color of buttons on hover */

div.tab button:hover {
  background-color: #ddd;
}


/* Create an active/current "tab button" class */

div.tab button.active {
  background-color: sky;
}


/* Style the tab content */

.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 96%;
  border-left: none;
}

input[type=text],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #009688;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}


/* Style the submit button with a specific background color etc */

input[type=submit] {
  background-color: #009688;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover {
  background-color: #009688;
}


/* Add a background color and some padding around the form */

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  height: 500px;
}

th {
  background-color: #009688;
  color: white;
  font-size: 18px;
  text-align: start;

}

td {
  font-size: 14px;
  text-align: start;
}

mat-icon {
  color: red;
}

.mat-header-row,
.mat-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  text-align: left;
  min-height: 48px;
  padding: 1px 5px;
}

.mat-row {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-row:hover {
  background-color: lightblue;
}

.mat-cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
  padding: 10px;
}

.mat-tab-group {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.select-file {
  height: 50px;
}

#file {
  position: absolute;
  left: 20px;
  height: 50px;
  font-size: 0.8em;
}

.truncatedText {
  white-space: nowrap;
  width: 250px;
  /* OR as much space that allows */
  overflow: hidden;
  text-overflow: ellipsis;
}

.fecha_div {
  color: #3F51B5;
}


.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}
