<app-noticia [data]="selectedNoticia" *ngIf="selectedNoticia" (done)="exitNoticia($event)" (disable)="onDisableNoticia($event)"></app-noticia>
<app-new-noticia></app-new-noticia>

<div class="page">
  <div class="btn-bar">
    <button class="btn btn-basic " (click)="openNewNoticia()">
      <i class="fa fa-plus"></i>
      nueva noticia
    </button>
    <button class="btn btn-basic " (click)="refresh()">
      <i class="fa fa-refresh"></i>
      recargar datos
    </button>
  </div>
  <div class="indice-bar" *ngIf="noticias && noticias.length > 0">
    <p class="indice-total-value">Total: {{ filteredNoticias.length }}</p>
    <div class="indice-searchbar">
      <input matInput [(ngModel)]="searchValue" (keyup)="search($event.target.value)" placeholder="Buscar..." />
      <i *ngIf="searchValue === ''" class="fa fa-search"></i>
      <i *ngIf="searchValue !== ''" class="fa fa-close" (click)="resetSearch()"></i>
    </div>
  </div>
  <div class="page-table">
    <nz-table #basicTable [nzData]="filteredNoticias" [nzPageSize]="10">
      <thead>
        <tr>
          <th>N.</th>
          <th>fecha</th>
          <th>
            titulo
          </th>
          <th>
            descripción
          </th>
          <th>fichero</th>
          <th>estado</th>
          <th>acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data; let index = index">
          <td>{{ index + 1 }}</td>
          <td class="table-date">{{ data.created_at | date: 'dd/MM/yyyy HH:MM' }}</td>
          <td>{{ data.title }}</td>
          <td>
            <p style="padding: 0; margin: 0; width: 200px; white-space:nowrap; overflow:hidden;text-overflow:ellipsis;">
              <span nz-tooltip [nzTooltipTitle]="data.description">
                {{ data.description }}
              </span>
            </p>
          </td>
          <td>
            <a *ngIf="data.publicUrlPath && data.publicUrlPath !== ''" class="label-action-download" [href]="data.publicUrlPath" target="_blank">descargar</a>
            <p *ngIf="!data.publicUrlPath || data.publicUrlPath === ''">No</p>
          </td>
          <td>
            <p class="label-active" *ngIf="data.state === 1">activo</p>
            <p class="label-inactive" *ngIf="data.state === 0">inactivo</p>
          </td>
          <td>
            <a class="label-action-disable" (click)="disableNoticia(data)">desactivar</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a class="label-action-detail" (click)="selectNoticia(data)">detalle</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
