.c-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  margin: 0;
  padding: 0;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #6cafa5;
    padding: 5px;
    margin: 0;
    width: 94%;
  }
}

.christmas-tree {
  position: absolute;
  left: 5px;
  bottom: 5px;
  z-index: 204;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  .actions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 3px;
    margin-top: 50px;

    p {
      font-size: 15px;
      font-weight: 500;
      color: red;
      background-color: transparent;
    }

    button {
      color: red;
      border: 1px solid red;
      background-color: white;
      font-size: 12px;
      padding: 5px;
      border-radius: 5px;
    }
  }

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}
