<div class="c-footer">
  <div class="c-footer__content">
    <p class="copyright">© Powered by ICOMUNITY 2022</p>
    <p class="version">v{{ environment.version }}</p>
  </div>
  <p class="today-date">{{ todayDate }}</p>
  <app-contact-support></app-contact-support>
</div>
