<div class="c-incidencia ic-comp-h ">
  <div [class.fadeOut]="closing" class="c-incidencia__container ic-comp-cont-vc ic-card fadeIn" *ngIf="data">
    <div class="c-incidencia__container__header ic-header">
      <p class="ic-title">DETALLE INCIDENCIA</p>
    </div>
    <div class="c-detail-table">
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">Categoria</div>
          <div class="col col-2">Tipo</div>
          <div class="col col-3">Fecha alta</div>
        </li>
        <li class="table-row">
          <div class="col col-1">{{ data.category }}</div>
          <div class="col col-2">{{ data.type }}</div>
          <div class="col col-3">{{ data.created_at | date: 'dd/MM/yyyy H:mm' }}</div>
        </li>
      </ul>

      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">Estado</div>
        </li>
        <li class="table-row">
          <div class="c-incidencia__container__item ic-item-hf">
            <div class="ic-checkbox">
              <input type="checkbox" id="pendiente" name="pendiente" (change)="onChange('pendiente')" [checked]="data.state === 1" />
              <label for="pendiente">Pendiente</label>
            </div>
            <div class="ic-checkbox">
              <input type="checkbox" id="progressing" name="progressing" (change)="onChange('procesando')" [checked]="data.state === 3" />
              <label for="progressing">Procesando</label>
            </div>
            <div class="ic-checkbox">
              <input type="checkbox" id="resolved" name="resolved" (change)="onChange('solucionado')" [checked]="data.state === 2" />
              <label for="resolved">Solucionado</label>
            </div>
            <div class="ic-checkbox">
              <input type="checkbox" id="oculto" name="oculto" (change)="onChangeOculto($event)" [checked]="data.oculto === 2" />
              <label for="oculto">Oculto</label>
            </div>
          </div>
        </li>
      </ul>
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">Descripción</div>
        </li>
        <li class="table-row">
          <div class="ic-item-value-area">
            <p class="c-incidencia__container__item__value">
              {{ data.description }}
            </p>
          </div>
        </li>
      </ul>
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-3">Imagen</div>
        </li>
        <li class="table-row">
          <div class="col col-3">
            <img *ngIf="data.image && data.image !== ''" class="incidencia-image" [src]="data.image" (click)="popImageViewer(data.image)" />
            <p *ngIf="data.image && data.image !== ''" class="ic-subtitle">
              * Haz click para abrir vista imagen
            </p>
            <p *ngIf="!data.image || data.image === ''">No hay imagen asociada</p>
          </div>
        </li>
      </ul>

      <p class="ic-subtitle">
        * Las incidencias solucionadas de más de una semana no son visibles para los usuarios
      </p>
    </div>
    <div class="c-incidencia__container__btns ic-btns-block">
      <button class="btn-teal-m" (click)="save()">
        Guardar cambios
      </button>
      <button class="btn-red-m" (click)="close()">
        Cerrar
      </button>
    </div>
  </div>
</div>
