.c-nodata {
    width: 300px;
    height: 100%;
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100px;
            height: 100px;
            padding: 10px;
        }
    }
}