<div class="c-noticia ic-comp-h">
  <div [class.fadeOut]="closing" class="c-noticia__container ic-comp-cont-vc ic-card fadeIn" *ngIf="data">
    <div class="c-noticia__container__header ic-header">
      <p class="ic-title">DETALLE NOTICIA</p>
    </div>

    <div class="c-detail-table">
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-2">Titulo</div>
          <div class="col col-3">Fecha alta</div>
        </li>
        <li class="table-row">
          <div class="col col-2">{{ data.title }}</div>
          <div class="col col-3">{{ data.created_at | date: 'dd/MM/yyyy H:mm' }}</div>
        </li>
      </ul>
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">Descripción</div>
        </li>
        <li class="table-row">
          <div class="ic-item-value-area">
            <p class="c-incidencia__container__item__value">
              {{ data.description }}
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="c-noticia__container__btns ic-btns-block">
      <button [class.btn-disabled]="data.state === 0" [disabled]="data.state === 0" class="btn-teal-m" (click)="disableNoticia()">
        Desactivar
      </button>
      <button class="btn-red-m" (click)="close()">
        Cerrar
      </button>
    </div>
  </div>
</div>
