<div class="c-home" *ngIf="adminUser$ | async as adminUser">
  <div class="c-home__headercard">
    <div class="c-home__container__select_comunity" *ngIf="!selectedComunity">
      <p>Selecciona una comunidad para cargar sus datos</p>
    </div>
    <div class="page" *ngIf="selectedComunity">
      <p class="c-home__container__label">Estadística en {{ selectedComunity.name }}</p>
      <div class="c-home__numerics grid-stats-1" *ngIf="stats && statsLocal.users">
        <div class="c-home__numerics__card grid-box" *ngIf="stats.core">
          <div class="c-home__numerics__card__content">
            <p class="c-home__numerics__card__content__label">Usuarios</p>
            <p class="c-home__numerics__card__content__labelite">total</p>
            <div *ngIf="stats.core.UsersCount == 0" class="c-home__numerics__card__content__pie pie animate" style="--p:0; --c:#41977a;--w:130px">
              {{ stats.core.UsersCount }}
            </div>
            <div *ngIf="stats.core.UsersCount > 0" class="c-home__numerics__card__content__pie pie animate" style="--p:35; --c:#41977a;--w:130px">
              {{ stats.core.UsersCount }}
            </div>
            <div *ngIf="stats.core.UsersCount > 50" class="c-home__numerics__card__content__pie pie animate" style="--p:60; --c:#41977a;--w:130px">
              {{ stats.core.UsersCount }}
            </div>
            <div *ngIf="stats.core.UsersCount > 100" class="c-home__numerics__card__content__pie pie animate" style="--p:75; --c:#41977a;--w:130px">
              {{ stats.core.UsersCount }}
            </div>
          </div>
        </div>

        <div class="c-home__numerics__card grid-box" *ngIf="stats.core">
          <div class="c-home__numerics__card__content">
            <p class="c-home__numerics__card__content__label">Gremios</p>
            <p class="c-home__numerics__card__content__labelite">total</p>
            <div *ngIf="stats.core.ServicesCountTotal == 0" class="c-home__numerics__card__content__pie pie animate" style="--p:0; --c:#89560c;--w:130px">
              {{ stats.core.ServicesCountTotal }}
            </div>
            <div *ngIf="stats.core.ServicesCountTotal > 0" class="c-home__numerics__card__content__pie pie animate" style="--p:20; --c:#89560c;--w:130px">
              {{ stats.core.ServicesCountTotal }}
            </div>
            <div *ngIf="stats.core.ServicesCountTotal > 10" class="c-home__numerics__card__content__pie pie animate" style="--p:40; --c:#89560c;--w:130px">
              {{ stats.core.ServicesCountTotal }}
            </div>
            <div *ngIf="stats.core.ServicesCountTotal > 10" class="c-home__numerics__card__content__pie pie animate" style="--p:60; --c:#89560c;--w:130px">
              {{ stats.core.ServicesCountTotal }}
            </div>
          </div>
        </div>

        <div class="c-home__numerics__card grid-box" *ngIf="stats.core">
          <div class="c-home__numerics__card__content">
            <p class="c-home__numerics__card__content__label">Noticias</p>
            <p class="c-home__numerics__card__content__labelite">total</p>
            <div *ngIf="stats.core.NewsCountTotal == 0" class="c-home__numerics__card__content__pie pie animate" style="--p:0; --c:#248bd3;--w:130px">
              {{ stats.core.NewsCountTotal }}
            </div>
            <div *ngIf="stats.core.NewsCountTotal > 0" class="c-home__numerics__card__content__pie pie animate" style="--p:25; --c:#248bd3;--w:130px">
              {{ stats.core.NewsCountTotal }}
            </div>
            <div *ngIf="stats.core.NewsCountTotal > 10" class="c-home__numerics__card__content__pie pie animate" style="--p:45; --c:#248bd3;--w:130px">
              {{ stats.core.NewsCountTotal }}
            </div>
            <div *ngIf="stats.core.NewsCountTotal > 100" class="c-home__numerics__card__content__pie pie animate" style="--p:65; --c:#248bd3;--w:130px">
              {{ stats.core.NewsCountTotal }}
            </div>
          </div>
        </div>

        <div class="c-home__numerics__card grid-box">
          <div class="c-home__numerics__card__content">
            <p class="c-home__numerics__card__content__label">Incidencias</p>
            <p class="c-home__numerics__card__content__labelite">total</p>
            <div *ngIf="stats.core.IncidenciasCountTotal == 0" class="c-home__numerics__card__content__pie pie animate" style="--p:0; --c:#e56b6b;--w:130px">
              {{ stats.core.IncidenciasCountTotal }}
            </div>
            <div *ngIf="stats.core.IncidenciasCountTotal > 0" class="c-home__numerics__card__content__pie pie animate" style="--p:10; --c:#e56b6b;--w:130px">
              {{ stats.core.IncidenciasCountTotal }}
            </div>
            <div *ngIf="stats.core.IncidenciasCountTotal > 50" class="c-home__numerics__card__content__pie pie animate" style="--p:20; --c:#e56b6b;--w:130px">
              {{ stats.core.IncidenciasCountTotal }}
            </div>
            <div *ngIf="stats.core.IncidenciasCountTotal > 100" class="c-home__numerics__card__content__pie pie animate" style="--p:40; --c:#e56b6b;--w:130px">
              {{ stats.core.IncidenciasCountTotal }}
            </div>
            <div *ngIf="stats.core.IncidenciasCountTotal > 500" class="c-home__numerics__card__content__pie pie animate" style="--p:60; --c:#e56b6b;--w:130px">
              {{ stats.core.IncidenciasCountTotal }}
            </div>
            <div *ngIf="stats.core.IncidenciasCountTotal > 1000" class="c-home__numerics__card__content__pie pie animate" style="--p:70; --c:#e56b6b;--w:130px">
              {{ stats.core.IncidenciasCountTotal }}
            </div>
            <div *ngIf="stats.core.IncidenciasCountTotal > 2000" class="c-home__numerics__card__content__pie pie animate" style="--p:80; --c:#e56b6b;--w:130px">
              {{ stats.core.IncidenciasCountTotal }}
            </div>
          </div>
        </div>

        <div class="c-home__numerics__card  grid-box">
          <p class="c-home__numerics__card__content__label" style="padding: 5px;">Incidencias</p>
          <p class="c-home__numerics__card__content__labelite" style="margin: 5px;">mes en curso</p>
          <div class="c-home__graphs">
            <div class="base-chart" *ngIf="statsIncidenciaData">
              <canvas baseChart [options]="pieChartOptions" [data]="statsIncidenciaData" [labels]="statsIncidenciasLabels" [chartType]="pieChartType"></canvas>
            </div>
          </div>
        </div>
      </div>

      <p class="c-home__container__label">Estadística - Incidencias</p>
      <div class="c-home__numerics grid" *ngIf="stats && stats.local">
        <div class="c-home__numerics__card grid-box">
          <div class="c-home__numerics__card__content">
            <p class="c-home__numerics__card__content__labelite">mes en curso</p>
            <p class="c-home__numerics__card__content__number">{{ stats.core.IncidenciasCountMonth }}</p>
            <div class="stats-line"></div>
            <p class="c-home__numerics__card__content__comment">Total incidencias mes en curso en {{ selectedComunity.name }}</p>
          </div>
        </div>

        <div class="c-home__numerics__card grid-box">
          <div class="c-home__numerics__card__content">
            <p class="c-home__numerics__card__content__labelite">pendientes mes en curso</p>
            <p class="c-home__numerics__card__content__number">{{ stats.core.IncidenciasPendientesCountMonth }}</p>
            <div class="stats-line"></div>
            <p class="c-home__numerics__card__content__comment">Incidencias pendientes mes en curso en {{ selectedComunity.name }}</p>
          </div>
        </div>

        <div class="c-home__numerics__card grid-box">
          <div class="c-home__numerics__card__content">
            <p class="c-home__numerics__card__content__labelite">solucionadas mes en curso</p>
            <p class="c-home__numerics__card__content__number">{{ stats.core.IncidenciasSolucionadasCountMonth }}</p>
            <div class="stats-line"></div>
            <p class="c-home__numerics__card__content__comment">Incidencias solucionadas mes en curso en {{ selectedComunity.name }}</p>
          </div>
        </div>

        <div class="c-home__numerics__card grid-box">
          <div class="c-home__numerics__card__content">
            <p class="c-home__numerics__card__content__labelite">en progreso mes en curso</p>
            <p class="c-home__numerics__card__content__number">{{ stats.core.IncidenciasProgresoCountMonth }}</p>
            <div class="stats-line"></div>
            <p class="c-home__numerics__card__content__comment">Incidencias en progreso mes en curso {{ selectedComunity.name }}</p>
          </div>
        </div>
      </div>

      <p class="c-home__container__label" *ngIf="stats && stats.local && stats.local.total !== 0">Estadística - Local</p>
      <!-- LOCAL -->
      <div class="c-home__numerics grid" *ngIf="stats && stats.local && stats.local.total !== 0">
        <div class="c-home__numerics__card grid-box">
          <div class="c-home__numerics__card__content">
            <p class="c-home__numerics__card__content__labelite">mes en curso</p>
            <p class="c-home__numerics__card__content__number">{{ stats.local.month }}</p>
            <div class="stats-line"></div>
            <p class="c-home__numerics__card__content__comment">Reservas activas mes en curso en {{ selectedComunity.name }}</p>
          </div>
        </div>

        <div class="c-home__numerics__card grid-box">
          <div class="c-home__numerics__card__content">
            <p class="c-home__numerics__card__content__labelite">canceladas mes en curso</p>
            <p class="c-home__numerics__card__content__number">{{ stats.local.monthCancelled }}</p>
            <div class="stats-line"></div>
            <p class="c-home__numerics__card__content__comment">Reservas canceladas mes en curso en {{ selectedComunity.name }}</p>
          </div>
        </div>

        <div class="c-home__numerics__card grid-box">
          <div class="c-home__numerics__card__content">
            <p class="c-home__numerics__card__content__labelite">año en curso</p>
            <p class="c-home__numerics__card__content__number">{{ stats.local.year }}</p>
            <div class="stats-line"></div>
            <p class="c-home__numerics__card__content__comment">Reservas año en curso en {{ selectedComunity.name }}</p>
          </div>
        </div>

        <div class="c-home__numerics__card grid-box">
          <div class="c-home__numerics__card__content">
            <p class="c-home__numerics__card__content__labelite">total</p>
            <p class="c-home__numerics__card__content__number">{{ stats.local.total }}</p>
            <div class="stats-line"></div>
            <p class="c-home__numerics__card__content__comment">Total reservas en {{ selectedComunity.name }}</p>
          </div>
        </div>
      </div>
      <p class="c-home__container__label" *ngIf="stats && stats.padel && stats.padel.total !== 0">Estadística - Padel</p>

      <!-- PADEL -->

      <div class="c-home__numerics grid" *ngIf="stats && stats.padel && stats.padel.total !== 0">
        <div class="c-home__numerics__card grid-box">
          <div class="c-home__numerics__card__content">
            <p class="c-home__numerics__card__content__labelite">mes en curso</p>
            <p class="c-home__numerics__card__content__number">{{ stats.padel.month }}</p>
            <div class="stats-line"></div>
            <p class="c-home__numerics__card__content__comment">Reservas activas mes en curso en {{ selectedComunity.name }}</p>
          </div>
        </div>

        <div class="c-home__numerics__card grid-box">
          <div class="c-home__numerics__card__content">
            <p class="c-home__numerics__card__content__labelite">canceladas mes en curso</p>
            <p class="c-home__numerics__card__content__number">{{ stats.padel.monthCancelled }}</p>
            <div class="stats-line"></div>
            <p class="c-home__numerics__card__content__comment">Reservas canceladas mes en curso en {{ selectedComunity.name }}</p>
          </div>
        </div>

        <div class="c-home__numerics__card grid-box">
          <div class="c-home__numerics__card__content">
            <p class="c-home__numerics__card__content__labelite">año en curso</p>
            <p class="c-home__numerics__card__content__number">{{ stats.padel.year }}</p>
            <div class="stats-line"></div>
            <p class="c-home__numerics__card__content__comment">Reservas año en curso en {{ selectedComunity.name }}</p>
          </div>
        </div>

        <div class="c-home__numerics__card grid-box">
          <div class="c-home__numerics__card__content">
            <p class="c-home__numerics__card__content__labelite">total</p>
            <p class="c-home__numerics__card__content__number">{{ stats.padel.total }}</p>
            <div class="stats-line"></div>
            <p class="c-home__numerics__card__content__comment">Total reservas en {{ selectedComunity.name }}</p>
          </div>
        </div>
      </div>
      <!-- PISCINA -->
      <p class="c-home__container__label" *ngIf="stats && stats.piscina && stats.piscina.total !== 0">Estadística - Piscina</p>

      <div class="c-home__numerics grid" *ngIf="stats && stats.piscina && stats.piscina.total !== 0">
        <div class="c-home__numerics__card grid-box">
          <div class="c-home__numerics__card__content">
            <p class="c-home__numerics__card__content__labelite">mes en curso</p>
            <p class="c-home__numerics__card__content__number">{{ stats.piscina.month }}</p>
            <div class="stats-line"></div>
            <p class="c-home__numerics__card__content__comment">Reservas activas mes en curso en {{ selectedComunity.name }}</p>
          </div>
        </div>

        <div class="c-home__numerics__card grid-box">
          <div class="c-home__numerics__card__content">
            <p class="c-home__numerics__card__content__labelite">canceladas mes en curso</p>
            <p class="c-home__numerics__card__content__number">{{ stats.piscina.monthCancelled }}</p>
            <div class="stats-line"></div>
            <p class="c-home__numerics__card__content__comment">Reservas canceladas mes en curso en {{ selectedComunity.name }}</p>
          </div>
        </div>

        <div class="c-home__numerics__card grid-box">
          <div class="c-home__numerics__card__content">
            <p class="c-home__numerics__card__content__labelite">año en curso</p>
            <p class="c-home__numerics__card__content__number">{{ stats.piscina.year }}</p>
            <div class="stats-line"></div>
            <p class="c-home__numerics__card__content__comment">Reservas año en curso en {{ selectedComunity.name }}</p>
          </div>
        </div>

        <div class="c-home__numerics__card grid-box">
          <div class="c-home__numerics__card__content">
            <p class="c-home__numerics__card__content__labelite">total</p>
            <p class="c-home__numerics__card__content__number">{{ stats.piscina.total }}</p>
            <div class="stats-line"></div>
            <p class="c-home__numerics__card__content__comment">Total reservas en {{ selectedComunity.name }}</p>
          </div>
        </div>
      </div>

      <!-- SOLARIUM -->
      <p class="c-home__container__label" *ngIf="stats && stats.solarium && stats.solarium.total">Estadística - Solarium</p>

      <div class="c-home__numerics grid" *ngIf="stats && stats.solarium && stats.solarium.total">
        <div class="c-home__numerics__card grid-box">
          <div class="c-home__numerics__card__content">
            <p class="c-home__numerics__card__content__labelite">mes en curso</p>
            <p class="c-home__numerics__card__content__number">{{ stats.solarium.month }}</p>
            <div class="stats-line"></div>
            <p class="c-home__numerics__card__content__comment">Reservas activas mes en curso en {{ selectedComunity.name }}</p>
          </div>
        </div>

        <div class="c-home__numerics__card grid-box">
          <div class="c-home__numerics__card__content">
            <p class="c-home__numerics__card__content__labelite">canceladas mes en curso</p>
            <p class="c-home__numerics__card__content__number">{{ stats.solarium.monthCancelled }}</p>
            <div class="stats-line"></div>
            <p class="c-home__numerics__card__content__comment">Reservas canceladas mes en curso en {{ selectedComunity.name }}</p>
          </div>
        </div>

        <div class="c-home__numerics__card grid-box">
          <div class="c-home__numerics__card__content">
            <p class="c-home__numerics__card__content__labelite">año en curso</p>
            <p class="c-home__numerics__card__content__number">{{ stats.solarium.year }}</p>
            <div class="stats-line"></div>
            <p class="c-home__numerics__card__content__comment">Reservas año en curso en {{ selectedComunity.name }}</p>
          </div>
        </div>

        <div class="c-home__numerics__card grid-box">
          <div class="c-home__numerics__card__content">
            <p class="c-home__numerics__card__content__labelite">total</p>
            <p class="c-home__numerics__card__content__number">{{ stats.piscina.total }}</p>
            <div class="stats-line"></div>
            <p class="c-home__numerics__card__content__comment">Total reservas en {{ selectedComunity.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
