.c-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__hola {
      font-size: 18px;
      color: #397897;
      font-weight: 200;
      margin: 0;
      padding: 0;
    }

    &__date {
      font-size: 15px;
      color: grey;
      font-weight: 400;
      margin-top: 10px;
      padding: 0;
    }
  }

  &__container {

    &__label {
      font-size: 18px;
      font-weight: 200;
      text-align: center;
      padding: 5px 0px;
      background-color: #6cafa5;
      border-radius: 10px;
      color: white;
    }

    &__select_comunity {
      padding: 0;
      margin: 0;

      p {
        font-size: 1rem;
        color: red;
        padding: 3px;
        margin: 0;
        border: 1px solid red;
      }
    }
  }

  &__headercard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8px;
    min-width: 99%;
    width: 1000px;
    margin: 5px;
  }

  &__numerics {
    margin: 20px 0px;
    padding: 20px 0px;
    // background-color: #f3f5f7;
    width: 100%;

    &__card {
      background-color: #fff;
      box-shadow: -1px 8px 6px rgb(0 0 0 / 27%);
      overflow: hidden;

      &__content {
        padding: 5px;
        position: relative;
        width: 100%;
        height: 100%;

        &__label {
          font-size: 18px;
          font-weight: 400;
          color: teal;
          padding: 0;
          margin: 0%;
        }

        &__labelite {
          font-size: 14px;
          font-weight: 200;
          color: #145371;
          padding: 2px;
          border: 1px solid lightgray;
          border-radius: 2px;
          width: fit-content;
        }

        &__number {
          font-size: 22px;
          color: #145371;
          padding: 0;
          margin: 0;
        }

        &__pie {
          font-size: 20px;
          color: #145371;
          padding: 0;
          margin: 0;
          position: absolute;
          left: 50%;
          top: 60%;
          transform: translate(-50%, -50%);
        }


        &__comment {
          font-size: 14px;
          color: grey;
          font-weight: 200;
        }
      }
    }
  }

  &__graphs {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10px;

    &__pie {
      &__incidencias {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
      }

      &__reservas {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
      }
    }
  }
}

button {
  height: 50px;
  width: 150px;
  padding: 0;
}

html {
  display: flex;
  justify-content: center;
}

mat-icon {
  margin: 0px 15px 0px 0px;
}

mat-select {
  width: 200px;
  display: flex;
}

canvas {
  min-width: 400px;
}

.hola-text {
  display: flex;
  align-items: flex-start;
}

.card-min {
  max-width: 200px !important;
}

.card-large {
  max-width: 400px !important;
}

.pie-label-user {
  color: #248bd3;
}

.pie-label-incidencias {
  color: #248bd3;
}

.pie-label-news {
  color: #248bd3;
}


.base-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
