<ng-progress
  [positionUsing]="'marginLeft'"
  [minimum]="0.15"
  [maximum]="1"
  [speed]="200"
  [showSpinner]="false"
  [direction]="'rightToLeftIncreased'"
  [color]="'red'"
  [trickleSpeed]="250"
  [thick]="false"
  [ease]="'linear'"
></ng-progress>
<body>
  <div class="c-login wrapper">
    <div class="c-login__container container-local">
      <div class="c-login__container__card">
        <p class="c-login__container__card__title">ACCESO PANEL WEB</p>
        <div class="c-login__container__card__body">
          <div class="c-login__container__card__body__brand">
            <div class="c-login__container__card__body__brand__logo">
              <img [src]="logoIcon" />
            </div>
            <p class="c-login__container__card__body__brand__name">
              GESTOR DIGITAL <br />
              DE <br />
              COMUNIDADES DE PROPIETARIOS
            </p>
          </div>

          <div class="c-login__container__card__body__divider"></div>

          <div class="c-login__container__card__body__form">
            <form class="login" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <input placeholder="Correo electrónico" type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <input placeholder="Contraseña" type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
              </div>
              <p class="incorrect" *ngIf="loginError">Email/contraseña incorrecto</p>
              <button type="submit" [disabled]="loading">Conectarse</button>
              <a href="https://www.icomunity.com/#/support" target="_blank">¿Necesita ayuda?</a>
            </form>
          </div>
          <p class="c-login__container__card__version">v.{{ version }}</p>
        </div>
      </div>
    </div>

    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <router-outlet></router-outlet>
</body>
