.c-login {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif !important;

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__card {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;
      border-radius: 5px;
      padding: 20px;
      position: relative;
      z-index: 3;


      &__title {
        font-size: 18px;
        padding: 0;
        margin-bottom: 15px;
        font-weight: 500;
        color: #233251;
        width: 100%;
        text-align: center;
      }

      &__body {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 30px;

        &__brand {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;

          &__logo {
            img {
              width: 90px;
              height: 80px;
              margin: 10px;
            }
          }

          &__name {
            font-size: 13px;
            padding: 0;
            margin: 5px;
            font-weight: 600;
            color: #233251;
          }
        }

        &__divider {
          width: 1px;
          background-color: #00000029;
          height: 110px;
          margin: 0px 20px;
        }

        &__form {
          width: 50%;
          display: flex;
          padding: 0px 20px;

          a {
            font-size: 12px;
            margin: 10px 0px;
            color: #145371;
            text-decoration: underline;
          }
        }


      }

      &__version {
        font-size: 10px;
        font-weight: 300;
        padding: 0;
        margin: 5px;
        color: grey;
        position: absolute;
        bottom: 4px;
        left: 50%;
        transform: translateX(-70%);
      }
    }

  }
}

.app-name {
  font-size: 18px;
  padding: 0;
  margin: 5px;
  color: black;
}

.logo {
  img {
    width: 200px;
    margin: 20px;
    box-shadow: -1px 8px 6px rgb(0 0 0 / 27%);
  }
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: 300;
}

body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: 300;
}

body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  opacity: 1;
  font-weight: 300;
}

body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  opacity: 1;
  font-weight: 300;
}

body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: 300;
}

.wrapper {
  background: #50a3a2;
  background: -webkit-gradient(linear, left top, right bottom, from(#50a3a2), to(#53e3a6));
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrapper.form-success .container h1 {
  -webkit-transform: translateY(85px);
  transform: translateY(85px);
}

.container-local {
  max-width: 700px;
  margin: 0 auto;
  padding: 80px 0;
  height: 100%;
  text-align: center;
}

.container h1 {
  font-size: 40px;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-put;
  transition-timing-function: ease-in-put;
  font-weight: 300;
  margin-bottom: 5%;
}

form {
  position: relative;
}

form input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 1px solid #21252936;
  background-color: #d3d3d35e;
  width: 280px;
  border-radius: 3px;
  padding: 10px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: start;
  font-size: 14px;
  // color: #233251;
  color: black;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  font-weight: 300;
}

form input:hover {
  border-color: #23325170;
}

form input:focus {
  background-color: #23325170;
  color: #233251;
  border-color: #23325170;
}

form button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background-color: #145371;
  border: 0;
  padding: 10px;
  color: white;
  border-radius: 3px;
  width: 280px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 16px;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

form button:hover {
  background-color: #073e58;
}

.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.bg-bubbles li:nth-child(1) {
  left: 10%;
}

.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 17s;
  animation-duration: 17s;
}

.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
  animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}

.bg-bubbles li:nth-child(5) {
  left: 70%;
}

.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}

.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
}

.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}

.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
  animation-delay: 11s;
}

@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
    transform: translateY(-700px) rotate(600deg);
  }
}

@keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
    transform: translateY(-700px) rotate(600deg);
  }
}

.incorrect {
  font-size: 12px;
  color: red;
}
