<!-- <div class="container">
    <form>

        <h2>Categoria </h2>
        <div *ngIf="services">
            <mat-form-field>
                <mat-select placeholder="Categoria" [(ngModel)]="model.category" name="category">
                    <mat-option *ngFor="let category of services" [value]="category.type">
                        {{ category.type }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>


        <h2>Tipo</h2>
        <mat-form-field>
            <mat-select placeholder="Tipo" [(ngModel)]="model.type" name="type">
                <mat-option *ngFor="let type of types" [value]="type.value">
                    {{ type.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>

å
        <div class="form-group">
            <label for="description"><h2>Descripción</h2></label>
            <textarea id="description" placeholder="Descripcion de la incidencia.." [(ngModel)]="model.description" name="description" style="height:200px"></textarea>

        </div>



        <input class="submit-btn" type="submit" value="Validar" (click)="addIncidencia(model.category,model.type,model.description)">


        <p class="ps-text">El usuario y la dirección de esta incidencia estarán marcado como "admin"
            <p>
    </form>


</div> -->
