<div class="c-admin-tickets side-container">
  <div class="c-admin-tickets__container side-container" *ngIf="!selectedTicket">
    <div class="c-admin-tickets__container__header">
      <i nz-icon nzType="sync" nzTheme="outline" (click)="reloadTickets()"></i>
      <p>Tickets: {{ tickets.length }}</p>
      <p class="c-admin-tickets__container__header__closed">Cerrados: {{ ticketsClosedCount }}</p>
      <p class="c-admin-tickets__container__header__opened">Abiertos: {{ ticketsOpenedCount }}</p>
    </div>
    <div class="ticket-list">
      <button [class.menu-active]="selectedTicket === ticket" class="ticket-item" *ngFor="let ticket of tickets" (click)="selectTicket(ticket)">
        <div class="ticket-round-closed" *ngIf="ticket.closed">Cerrado</div>
        <div class="ticket-round-open" *ngIf="!ticket.closed">Abierto</div>
        <p class="ticket-bold">Code: {{ ticket.code }}</p>
        <p class="ticket-bold">Comunidad: {{ ticket.comunity }}</p>
        <p class="ticket-bold">Created: {{ ticket.createdAt | date: 'dd/MM/yyyy HH:mm' }}</p>
        <p class="ticket-bold">Updated: {{ ticket.updatedAt | date: 'dd/MM/yyyy HH:mm' }}</p>
        <p>Target: {{ ticket.target }}</p>
        <p>Motivo: {{ ticket.reason }}</p>
        <p>Username: {{ ticket.username }}</p>
      </button>
    </div>
  </div>
  <div class="side-container" *ngIf="selectedTicket">
    <div class="c-admin-tickets__container__detail">
      <div class="c-admin-tickets__container__detail__header">
        <i nz-icon nzType="sync" nzTheme="outline" (click)="reloadTicket()"></i>

        <div class="c-admin-tickets__container__detail__header__status">
          <div class="ic-checkbox" [class.ticket-closed]="selectedTicket.closed">
            <input type="checkbox" id="closed" name="closed" (change)="onCloseTicketChange($event)" [checked]="closedValue" />
            <label for="pendiente">Cerrado</label>
          </div>
        </div>
        <i class="c-admin-tickets__container__detail__header__close" nz-icon nzType="close" nzTheme="outline" (click)="closeTicket()"></i>
      </div>
      <div class="ticket-detail-content">
        <div #chatbox class="ticket-messages">
          <div class="ticket-message" [class.float-left]="message.isUser" [class.float-right]="!message.isUser" *ngFor="let message of selectedTicket.messages">
            <div class="ticket-message-item" [class.msg-user]="message.isUser" [class.msg-remote]="!message.isUser">
              <img class="ticket-message-delete" [src]="deleteIcon" (click)="deleteMessage(message)" />
              <p class="msg-remitente" *ngIf="message.isUser">
                {{ selectedTicket.username }}
              </p>
              <p class="msg-remitente" *ngIf="!message.isUser">
                {{ selectedTicket.target }}
              </p>
              <p class="msg-text">{{ message.message }}</p>
              <p class="msg-date">
                {{ message.createdAt | date: 'dd/MM/yyyy HH:mm' }}
              </p>
            </div>
          </div>
        </div>
        <div class="ticket-actions">
          <div class="ticket-actions-chatbox">
            <textarea [(ngModel)]="message"> </textarea>
          </div>
          <img class="ticket-actions-sendbtn" [src]="sendIcon" (click)="send('SOPORTE', 'USER', false)" />
        </div>
      </div>
    </div>
  </div>
</div>
