.c-admin-tickets {
  width: 100%;
  height: 100%;

  &__container {
    width: 100%;
    height: 100%;

    &__header {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 10px 0px;

      p {
        font-size: 15px;
        font-weight: 600;
        padding: 0;
        margin: 0px 10px;
      }

      &__closed {
        color: green;
      }

      &__opened {
        color: orangered;
      }

      i {
        font-size: 25px;
        padding: 0px 10px;
        color: black;
      }
    }

    &__detail {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 10px;

      &__header {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px 0px;
        position: relative;

        &__close {
          position: absolute;
          right: 0px;
        }

        p {
          font-size: 20px;
          color: black;
          font-weight: 600;
          padding: 0;
          margin: 0;
        }

        i {
          font-size: 25px;
          padding: 0px 10px;
          color: black;
        }
      }

      &__content {
        width: 100%;
        height: 100%;
      }

    }
  }
}
