.c-header {
  &__container {

    &__planinfos {
      width: 100%;
      min-height: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px 0px;
      position: relative;

      &__branding {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;

        .christmas-hat {
          width: 40px;
          height: 40px;
        }

        img {
          width: 25px;
          height: 25px;
          margin: 5px;
        }

        p {
          padding: 0;
          margin: 0;
          font-size: 0.8rem;
        }
      }

      &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        border-radius: 5px;
        margin: 0px 20px;
        padding: 5px;

        >* {
          margin-left: 5px;
        }
      }
    }

    &__title {
      padding: 0;
      margin: 0;
      margin-left: 100px;

      p {
        width: fit-content;
        font-size: 1rem;
        color: #009688;
        padding: 3px;
        margin: 10px;
        border: 1px solid #009688;
      }
    }

    &__menu {
      background-color: #6cafa5;

      &__btn {
        height: 40px;
        width: 180px;
        padding: 0px 5px 0px 0px;
        margin-left: 5px;
        color: white;
        font-size: 15px;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;


        img {
          width: 20px;
          margin: 0px 10px;
        }

        p {
          font-size: 15px;
          padding: 0;
          margin: 0;
          font-weight: 400 !important;
        }
      }
    }
  }
}

.btn-active {
  background-color: #397897 !important;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
}

/* 
button {
    height: 50px;
    width: 200px;
    padding: 0px 5px 0px 0px;
    margin-left: 5px;
    background-color: #009688;
    color: white;
    font-size: 1rem;
} */

mat-card {
  padding: 8px;
  display: flex;
  align-items: center;
}

mat-icon {
  margin: 0px 15px 0px 0px;
  width: 15px;
}

mat-select {
  width: 200px;
}

p {
  padding: 18px;
  font-weight: bold;
}

.snowflake {
  color: red;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px rgb(241, 239, 239);
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%
  }

  100% {
    top: 100%
  }
}

@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px)
  }

  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px)
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px)
  }
}

@keyframes snowflakes-fall {
  0% {
    top: -10%
  }

  100% {
    top: 100%
  }
}

@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px)
  }

  50% {
    transform: translateX(80px)
  }

  100% {
    transform: translateX(0px)
  }
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, .5s;
  animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s
}

/* Demo Purpose Only*/
.demo {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
}

.demo a {
  font-family: 'Raleway', sans-serif;
  color: #000;
}
