<div class="c-header">
  <div *ngIf="christmasActive" class="snowflakes" aria-hidden="true">
    <div class="snowflake">
      ❅
    </div>
    <div class="snowflake">
      ❅
    </div>
    <div class="snowflake">
      ❆
    </div>
    <div class="snowflake">
      ❄
    </div>
    <div class="snowflake">
      ❅
    </div>
    <div class="snowflake">
      ❆
    </div>
    <div class="snowflake">
      ❄
    </div>
    <div class="snowflake">
      ❅
    </div>
    <div class="snowflake">
      ❆
    </div>
    <div class="snowflake">
      ❄
    </div>
  </div>

  <div class="c-header__container__planinfos">
    <div class="c-header__container__planinfos__branding">
      <img [src]="logo" />
      <p>ICOMUNITY - WEB PANEL</p>
      <img *ngIf="christmasActive" class="christmas-hat" src="https://c.tenor.com/sRGmaFiObpEAAAAi/rafsdesign-rafs84.gif" />
    </div>
    <div class="c-header__container__planinfos__content" *ngIf="selectedComunity && selectedComunity.extras">
      <img class="plan-icon" *ngIf="selectedComunity.extras.plan === 'BASIC'" [src]="planBASIC" />
      <img class="plan-icon" *ngIf="selectedComunity.extras.plan !== 'BASIC' && !selectedComunity.extras.planExpired" [src]="planOK" />
      <img class="plan-icon" *ngIf="selectedComunity.extras.plan !== 'BASIC' && selectedComunity.extras.planExpired" [src]="planEXPIRED" />

      <div class="c-header__container__planinfos__content__basic" *ngIf="selectedComunity.extras.plan === 'BASIC'">
        <div class="plan-name">
          PLAN ACTIVO:
          <p>ICOMUNITY {{ selectedComunity.extras.plan }}</p>
        </div>
        <div class="plan-date">
          Fecha expiración:
          <p>
            {{ selectedComunity.extras.planExpiredDate | date: 'dd/MM/yyyy' }}
          </p>
        </div>
        <div class="plan-message">
          <p>Las funcionalidades están limitadas en esta comunidad, póngase en contacto con nuestro equipo de Soporte para más informaciones.</p>
        </div>
      </div>
      <div class="c-header__container__planinfos__content__ok" *ngIf="selectedComunity && selectedComunity.extras.plan !== 'BASIC' && !selectedComunity.extras.planExpired">
        <div class="plan-name">
          PLAN ACTIVO:
          <p>ICOMUNITY {{ selectedComunity.extras.plan }}</p>
        </div>
        <div class="plan-date">
          Fecha expiración:
          <p>
            {{ selectedComunity.extras.planExpiredDate | date: 'dd/MM/yyyy' }}
          </p>
        </div>
        <div class="plan-message"></div>
      </div>
      <div class="c-header__container__planinfos__content__expired" *ngIf="selectedComunity && selectedComunity.extras.plan !== 'BASIC' && selectedComunity.extras.planExpired">
        <div class="plan-name">
          PLAN EXPIRADO:
          <p>ICOMUNITY {{ selectedComunity.extras.plan }}</p>
        </div>
        <div class="plan-date">
          Fecha expiración:
          <p>
            {{ selectedComunity.extras.planExpiredDate | date: 'dd/MM/yyyy' }}
          </p>
        </div>
        <div class="plan-message">
          <p>Por favor, póngase en contacto con nuestro equipo de Soporte para resolver la incidencia.</p>
        </div>
      </div>
    </div>
    <div class="profil-container" *ngIf="adminUser">
      <img class="profil-container__companyLogo" *ngIf="adminUser.company && adminUser.company.logoUrl" [src]="adminUser.company.logoUrl" />
      <div class="profil-divider"></div>
      <div class="profil-container__data">
        <div class="profil-container__data__name">
          <p>{{ adminUser.name }}</p>
          <div class="profil-container__data__name__dot"></div>
        </div>
        <p class="profil-container__data__mainrole">Rol: {{ adminUser.mainRole }}</p>
        <p *ngIf="adminUser.lastConnection" class="profil-container__data__lastaccess">Ult. acceso: {{ adminUser.lastConnection | date: 'dd/MM/yyyy HH:mm' }}</p>
      </div>
      <div class="profil-divider"></div>
      <button class="profil-container__settings" (click)="showSettings()">
        <img [src]="settingsIcon" />
        <p>AJUSTES</p>
      </button>
    </div>
  </div>
  <mat-card class="c-header__container__menu">
    <button class="c-header__container__menu__btn nav-menu" routerLink="/home" [class.btn-active]="title === ''" (click)="menuClicked('home')">
      <img [src]="menuIconHome" />
      <p>Inicio</p>
    </button>
    <button class="c-header__container__menu__btn" routerLink="/noticias" [class.btn-active]="title === 'Noticias'" (click)="menuClicked('noticias')">
      <img [src]="menuIconNoticias" />
      <p>Noticias</p>
    </button>
    <button class="c-header__container__menu__btn" routerLink="/incidencias" [class.btn-active]="title === 'Incidencias'" (click)="menuClicked('incidencias')">
      <img [src]="menuIconIncidencias" />
      <p>Incidencias</p>
    </button>
    <button class="c-header__container__menu__btn" routerLink="/gestion" [class.btn-active]="title === 'Gestión'" (click)="menuClicked('gestion')">
      <img [src]="menuIconGestion" />
      <p>Gestion</p>
    </button>
    <button
      *ngIf="selectedComunity && selectedComunity.extras && selectedComunity.extras.documentoActive"
      class="c-header__container__menu__btn"
      routerLink="/documents"
      [class.btn-active]="title === 'Documentos'"
      (click)="menuClicked('documents')"
    >
      <img [src]="menuIconDocumentos" />
      <p>Documentos</p>
    </button>
    <button
      class="c-header__container__menu__btn"
      *ngIf="
        selectedComunity &&
        selectedComunity.extras &&
        (selectedComunity.extras.localActive ||
          selectedComunity.extras.padelActive ||
          selectedComunity.extras.piscinaActive ||
          selectedComunity.extras.solariumActive ||
          selectedComunity.extras.tenisActive)
      "
      routerLink="/booking"
      [class.btn-active]="title === 'Reservas'"
      (click)="menuClicked('reservas')"
    >
      <img [src]="menuIconReservas" />
      <p>Reservas</p>
    </button>
    <button
      class="c-header__container__menu__btn"
      routerLink="/thor"
      [class.btn-active]="title === 'Thor'"
      *ngIf="adminUser && adminUser.mainRole === 'THOR'"
      (click)="menuClicked('thor')"
    >
      <img [src]="menuIconThor" />
      <p>Thor</p>
    </button>
    <button class="c-header__container__menu__btn btn-logout" (click)="logout()"><mat-icon>exit_to_app</mat-icon>Desconectarse</button>
  </mat-card>
  <mat-card *ngIf="comunities$ | async as comunities">
    <p class="c-header__container__selection-label">Comunidad seleccionada :</p>
    <mat-form-field>
      <mat-select placeholder="Comunidades" [(ngModel)]="selectedComunityName">
        <mat-option *ngFor="let com of comunities; let i = index" (click)="onSelected(com)" [value]="com.name">
          {{ com.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

  <app-plan-blocked *ngIf="selectedComunity && selectedComunity.extras && selectedComunity.extras.planExpired === 1"></app-plan-blocked>
</div>
