.c-booking {
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        &__redcadre {
            padding: 0;
            margin: 0;
            p {
                width: fit-content;
                font-size: 0.8rem;
                color: red;
                padding: 3px;
                margin: 10px;
                border: 1px solid red;
            }
        }
        &__disable {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 50vh;
            img {
                height: 200px;
            }
            p {
                text-align: center;
                font-size: 1.5em;
            }
        }
        &__enable {
            width: 100%;
            &__indice {
                display: flex;
                justify-content: left;
                align-items: center;
                flex-direction: row;
                height: 50px;
                ;
                &__pasada {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    width: 180px;
                    &__color {
                        width: 40px;
                        height: 20px;
                        background-color: lightslategrey;
                    }
                    p {
                        margin: 0;
                        margin-left: 10px;
                        font-size: 1em;
                    }
                }
                &__active {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    width: 120px;
                    &__color {
                        width: 40px;
                        height: 20px;
                        background-color: lightblue;
                    }
                    p {
                        margin: 0;
                        margin-left: 10px;
                        font-size: 1em;
                    }
                }
                &__disable {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    width: 180px;
                    &__color {
                        width: 40px;
                        height: 20px;
                        background-color: lightcoral;
                    }
                    p {
                        margin: 0;
                        margin-left: 10px;
                        font-size: 1em;
                    }
                }
            }
            &__local {
                &__empty {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    height: 50vh;
                    img {
                        height: 200px;
                    }
                    p {
                        text-align: center;
                        font-size: 1.5em;
                    }
                }
                &__table {
                    &__headeroptions {
                        display: flex;
                        flex-direction: row;
                        &__filtrofecha {
                            margin-left: 50px;
                        }
                        &__datepickers {
                            margin-left: 50px;
                            display: flex;
                            justify-content: space-evenly;
                            width: 500px;
                        }
                        &__count {
                            display: flex;
                            align-items: flex-start;
                            justify-content: flex-start;
                            flex-direction: row;
                            width: 400px;
                            margin-right: 50px;
                            p {
                                font-weight: 600;
                                color: #3F51B5;
                            }
                        }
                        &__export {
                            margin-left: 40px;
                        }
                    }
                }
            }
            &__padel {
                &__empty {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    height: 50vh;
                    img {
                        height: 200px;
                    }
                    p {
                        text-align: center;
                        font-size: 1.5em;
                    }
                }
                &__table {
                    &__headeroptions {
                        display: flex;
                        flex-direction: row;
                        &__filtrofecha {
                            margin-left: 50px;
                        }
                        &__datepickers {
                            margin-left: 50px;
                            display: flex;
                            justify-content: space-evenly;
                            width: 500px;
                        }
                        &__count {
                            display: flex;
                            align-items: center;
                            width: 200px;
                            p {
                                font-weight: 600;
                                color: #3F51B5;
                            }
                        }
                    }
                }
            }
        }
    }
}

.item-active {
    background-color: rgb(207, 234, 243);
}

.item-disable {
    background-color: rgb(253, 200, 200);
}

.item-pasado {
    background-color: rgb(243, 237, 237);
}

.fecha {
    color: #3F51B5;
    font-weight: 700;
}

mat-header-cell {
    font-size: 0.7em;
    color: #3F51B5;
}

mat-cell {
    padding: 5px;
}