<app-book [data]="selectedItem" *ngIf="selectedItem" (done)="exitDetail($event)"></app-book>
<div class="c-booking">
  <div class="page">
    <!-- Nav pills -->
    <ul class="nav nav-pills" role="tablist" *ngIf="selectedComunity && selectedComunity.extras">
      <li class="nav-item" *ngIf="selectedComunity.extras.localActive">
        <a class="nav-link active" [class.active]="isTabActive('local')" data-toggle="pill" (click)="selectTabPage('local')">Local</a>
      </li>
      <li class="nav-item" *ngIf="selectedComunity.extras.padelActive">
        <a class="nav-link" [class.active]="isTabActive('padel')" data-toggle="pill" (click)="selectTabPage('padel')">Padel</a>
        <!--       </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="isTabActive('tenis')" data-toggle="pill" (click)="selectTabPage('tenis')">Tenis</a>
      </li> -->
      </li>

      <li class="nav-item" *ngIf="selectedComunity.extras.piscinaActive">
        <a class="nav-link" [class.active]="isTabActive('piscina')" data-toggle="pill" (click)="selectTabPage('piscina')">Piscina</a>
      </li>
      <li class="nav-item" *ngIf="selectedComunity.extras.solariumActive">
        <a class="nav-link" [class.active]="isTabActive('solarium')" data-toggle="pill" (click)="selectTabPage('solarium')">Solarium</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div id="tab-local" class=" tab-pane active" [class.active]="isTabActive('local')" [class.fade]="!isTabActive('local')">
        <app-table-local [selectedComunity]="selectedComunity" [users]="users"></app-table-local>
      </div>
      <div id="tab-padel" class="tab-pane" [class.active]="isTabActive('padel')" [class.fade]="!isTabActive('padel')">
        <app-table-padel [selectedComunity]="selectedComunity" [users]="users"></app-table-padel>
      </div>
      <!--       <div id="tab-tenis" class=" tab-pane" [class.active]="isTabActive('tenis')" [class.fade]="!isTabActive('tenis')">
        page tenis
      </div> -->
      <div id="tab-piscina" class=" tab-pane" [class.active]="isTabActive('piscina')" [class.fade]="!isTabActive('piscina')">
        <app-table-piscina [selectedComunity]="selectedComunity" [users]="users"></app-table-piscina>
      </div>
      <div id="tab-solarium" class=" tab-pane" [class.active]="isTabActive('solarium')" [class.fade]="!isTabActive('solarium')">
        <app-table-solarium [selectedComunity]="selectedComunity" [users]="users"></app-table-solarium>
      </div>
    </div>
  </div>
</div>
