.c-admin {


  &__header {
    width: 100%;

    ul {
      display: flex;
      align-items: center;
      padding: 0px 10px;

      li {
        list-style-type: none;

        button {
          font-size: 15px;
          background-color: #55608f;
          border-radius: 3px;
          margin-right: 5px;
          color: white;
          padding: 10px;

          &:hover {
            background-color: #192351;
          }
        }


      }
    }
  }

  &__container {
    width: 100%;
    height: 100%;
  }

  &__layout {}
}

nz-content {
  margin: 5px auto;
  width: 100%;
  height: 100%;
}

[nz-menu] {
  line-height: 64px;
}

.menu-active {
  background-color: #192351 !important;
}
