<div class="c-admin page" *ngIf="adminUser$ | async as adminUser">
  <div class="c-admin__header">
    <ul class="c-admin__header__ul">
      <li class="c-admin__header__ul__li" *ngFor="let menu of menus" (click)="selectMenu(menu)">
        <button [class.menu-active]="menu.name === selectedMenu">{{ menu.label }}</button>
      </li>
    </ul>
  </div>
  <nz-layout class="c-admin__layout">
    <nz-content>
      <app-manage *ngIf="selectedMenu === 'companies'"></app-manage>
      <app-ofertas *ngIf="selectedMenu === 'ofertas'"></app-ofertas>
      <app-tickets *ngIf="selectedMenu === 'tickets'"></app-tickets>
      <app-settings-web *ngIf="selectedMenu === 'settings-web'"></app-settings-web>
      <app-settings-mobile *ngIf="selectedMenu === 'settings-mobile'"></app-settings-mobile>
    </nz-content>
  </nz-layout>
</div>
