<div class="c-book ic-comp-h">
  <div [class.fadeOut]="closing" class="c-book__container ic-comp-cont-vc ic-card fadeIn" *ngIf="data">
    <div class="c-book__container__header ic-header">
      <p class="ic-title">DETALLE RESERVA</p>
    </div>
    <div class="c-detail-table">
      <ul class="responsive-table" *ngIf="data.createdAt">
        <li class="table-header">
          <div class="col col-2">Fecha alta</div>
        </li>
        <li class="table-row">
          <div class="col col-2">{{ data.createdAt | date: 'yyyy-MM-dd HH:mm' }}</div>
        </li>
      </ul>
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-2">Fecha reserva</div>
          <div class="col col-2">Hora reserva</div>
        </li>
        <li class="table-row">
          <div class="col col-2">{{ data.day }}</div>
          <div class="col col-2" *ngIf="data.hours">{{ data.hours }}</div>
          <div class="col col-2" *ngIf="data.hour">{{ data.hour }}</div>
        </li>
      </ul>
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-2">Remitente</div>
          <div class="col col-2" *ngIf="data.email">Email</div>
        </li>
        <li class="table-row">
          <div class="col col-2">
            <p class="c-book__container__item__value ic-item-value" *ngIf="data.username">{{ data.username }}</p>
            <p class="c-book__container__item__value ic-item-value" *ngIf="data.name">{{ data.name }}</p>
          </div>
          <div class="col col-2" *ngIf="data.email">
            <p class="c-book__container__item__value ic-item-value">{{ data.email }}</p>
          </div>
        </li>
      </ul>
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-2">Dirección</div>
        </li>
        <li class="table-row">
          <div class="col col-2">
            <p class="c-book__container__item__value ic-item-value" *ngIf="data.useraddress">{{ data.useraddress }}</p>
            <p class="c-book__container__item__value ic-item-value" *ngIf="data.adress">{{ data.adress }}</p>
          </div>
        </li>
      </ul>

      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-2" *ngIf="data.persons">Num. Personas</div>
          <div class="col col-2" *ngIf="data.countHours">Num. Horas</div>
          <div class="col col-2">Estado</div>
        </li>
        <li class="table-row">
          <div class="col col-2" *ngIf="data.persons">
            {{ data.persons }}
          </div>
          <div class="col col-2" *ngIf="data.countHours">
            {{ data.countHours }}
          </div>
          <div class="col col-2">
            <p class="c-book__container__item__value label-expired" *ngIf="data.expired">expirado</p>
            <p class="c-book__container__item__value label-active" *ngIf="!data.expired && data.active">activo</p>
            <p class="c-book__container__item__value label-inactive" *ngIf="!data.expired && !data.active">inactivo</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="c-book__container__btns ic-btns-block">
      <button class="btn-red-m" (click)="close()">
        Cerrar
      </button>
    </div>
  </div>
</div>
