<app-incidencia *ngIf="selectedIncidencia$ | async as selectedIncidencia"></app-incidencia>
<app-traspaso-incidencia *ngIf="selectedTraspasoIncidencia$ | async as selectedTraspasoIncidencia"></app-traspaso-incidencia>
<div class="c-incidencias">
  <div class="page">
    <div class="btn-bar">
      <button class="btn btn-basic " (click)="Export()">
        <i class="fa fa-download"></i>
        exportar excel
      </button>
      <button class="btn btn-basic" (click)="refresh()">
        <i class="fa fa-refresh"></i>
        recargar datos
      </button>

      <button class="btn btn-clear" (click)="clearFilters()">
        <i class="fa fa-trash"></i>
        limpiar filtros
      </button>
    </div>
    <div class="indice-bar" *ngIf="incidencias && incidencias.length > 0">
      <p class="indice-total-value">Total: {{ filteredIncidencias.length }}</p>
      <div class="indice-selector">
        <mat-form-field>
          <mat-select placeholder="Filtro por fecha" (selectionChange)="onDateFilterChange($event)" [(ngModel)]="selectedFechaOption">
            <mat-option *ngFor="let item of filtroFechaItems" [value]="item.value">
              {{ item.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Filtro por estado" (selectionChange)="onEstadoChange($event)" [(ngModel)]="selectedEstadoOption">
            <mat-option *ngFor="let estado of filtroEstadoItems" [value]="estado.value">
              {{ estado.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Filtro por categoria" (selectionChange)="onServiceChange($event)" [(ngModel)]="selectedCategoryOption">
            <mat-option *ngFor="let service of services" [value]="service.type">
              {{ service.type }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="page-table">
      <nz-table #basicTable [nzData]="filteredIncidencias" [nzPageSize]="10">
        <thead>
          <tr>
            <th>N.</th>
            <th>fecha</th>
            <th>
              usuario
            </th>
            <th>dirección</th>
            <th>categoria</th>
            <th>type</th>
            <th>descripción</th>
            <th>imagen</th>
            <th>estado</th>
            <th>oculto</th>
            <th>acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr [class.incidencia-pendiente-bg]="data.state === 1" *ngFor="let data of basicTable.data; let index = index">
            <td>{{ index + 1 }}</td>
            <td class="table-date">
              <div *ngIf="data.create === 'hoy'">{{ data.create }}</div>
              <div *ngIf="data.create !== 'hoy'">{{ data.created_at | date: 'dd/MM/yyyy HH:mm' }}</div>
            </td>
            <td>{{ data.username }}</td>
            <td>{{ data.adress }}</td>
            <td>{{ data.category }}</td>
            <td>{{ data.type }}</td>
            <td>
              <p style="padding: 0; margin: 0; width: 200px; white-space:nowrap; overflow:hidden;text-overflow:ellipsis;">
                <span nz-tooltip [nzTooltipTitle]="data.description">
                  {{ data.description }}
                </span>
              </p>
            </td>
            <td>
              <span nz-tooltip [nzTooltipTitle]="'Haz click para ver la imagen'">
                <img *ngIf="data.image && data.image !== ''" class="miniature-image" [src]="placeholder" (click)="popImageViewer(data.image)" />
              </span>
              <p *ngIf="!data.image || data.image === ''">No</p>
            </td>
            <td>
              <p
                class="status-pendientes"
                [class.status-pendientes]="data.state === 1"
                [class.status-solucionadas]="data.state === 2"
                [class.status-en-progreso]="data.state === 3"
              >
                {{ data.state_txt }}
              </p>
            </td>
            <td>
              <p class="status-en-progreso" [class.status-oculto]="data.oculto === 2">{{ data.ocultoTXT }}</p>
            </td>
            <td>
              <a class="label-action-disable" (click)="traspasarIncidencia(data)">compartir</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a class="label-action-detail" (click)="selectIncidencia(data)">detalle</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
