.c-incidencia {
  &__headeroptions {
    display: flex;
    align-items: center;

    &__filtrofecha {
      margin-left: 30px;
    }

    &__datepickers {
      margin-left: 30px;
      display: flex;
      justify-content: space-evenly;
      width: 500px;

    }

    &__count {
      display: flex;
      text-align: left;
      align-items: center;
      margin-right: 30px;
      margin-left: 5px;

      p {
        font-size: 16px;
        font-weight: 600;
        color: #3F51B5;
      }
    }

    &__filtrofecha {
      margin-right: 30px;
    }

    &__export {
      margin-left: 30px;

      button {
        height: 35px;
      }
    }
  }
}

mat-form-field {
  max-width: 300px;
  font-size: 14px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-left: 25px;
}

.container-calendar {
  min-height: 600px;
}

.progress {
  max-width: 50%;
  display: flex;
  justify-content: center;
}

.title-calendar {
  color: #009688;
  max-width: 50%;
  display: flex;
  justify-content: center;
}

.nb-incidencias {
  margin-left: 5%;
  color: #009688;
  display: flex;
  justify-content: center;
  max-width: 40%;
}

.btn-gen-desc {
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: column;
  max-width: 50%;
  margin-top: 50px;
}

.calendar {
  display: flex;
  justify-content: space-around;
  align-items: column;
  max-width: 50%;
}

.submit-btn {
  width: 200px;
}

.ps-text {
  color: red;
}

.container {
  text-align: center;
  font-size: 20px;
}

mat-card {
  padding: 8px;
}

mat-header-cell {
  font-size: 0.7em;
  color: #3F51B5;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}


.tableau {
  text-align: center;
  font-size: 20px;
}

#main {
  text-align: center;
  font-size: 20px;
  height: 800px;
}

div.tab {
  float: left;
  background-color: #f1f1f1;
  width: 22%;
  height: 120px;
}


/* Change background color of buttons on hover */

div.tab button:hover {
  background-color: #ddd;
}


/* Create an active/current "tab button" class */

div.tab button.active {
  background-color: sky;
}


/* Style the tab content */

.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 96%;
  border-left: none;
}

input[type=text],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #009688;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}


/* Style the submit button with a specific background color etc */

input[type=submit] {
  background-color: #009688;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover {
  background-color: #009688;
}


/* Add a background color and some padding around the form */

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


.fecha {
  color: #3F51B5;
}
