<div class="c-support">
  <div class="c-support__container">
    <div class="c-support__container__start" *ngIf="!opened">
      <button (click)="open()">
        <i class="fa fa-info"></i>
        Contactar con soporte
      </button>
    </div>
    <div class="c-support__container__form" *ngIf="opened">
      <img [src]="closeIcon" (click)="close()" />
      <textarea
        id="message"
        placeholder="Escribe su mensaje para soporte..."
        [(ngModel)]="message"
        name="message"
        style="width:85%;height:65%;padding:5px;margin-top: 20px;"
      ></textarea>
      <p class="error" *ngIf="done && !sent">Hubo un problema</p>
      <p class="success" *ngIf="done && sent">¡ Enviado ! Lo revisamos.</p>
      <button (click)="sendMessageToSupport()">Enviar</button>
    </div>
  </div>
</div>
