.c-support {
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    margin: 10px 0px;

    &__start {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: transparent;

      button {
        font-size: 14px;
        margin: 10px 5px 0px 5px;
        padding: 5px;
        border: none;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        border-radius: 3px;

        i {
          margin: 0px 5px;
          background-color: #075191;
          color: white;
          padding: 5px;
          font-size: 14px;
          font-weight: 100;
          border-radius: 50%;
        }
      }
    }

    &__form {
      height: 300px;
      width: 250px;
      border-radius: 3px;
      background-color: lightgray;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      img {
        position: absolute;
        top: 2px;
        right: 2px;
        width: 20px;
        height: 20px;
        padding: 2px;
        margin: 1px;
        border-radius: 50%;
        background-color: white;
      }

      button {
        width: 150px;
        height: 35px;
        border-radius: 5px;
        color: white;
        font-size: 14px;
        margin: 10px 5px 0px 5px;
        padding: 1px;
        background-color: #0f5092ed;
      }

      p {
        font-size: 14px;
      }
    }
  }
}

.success {
  padding: 0;
  margin: 5px;
  font-weight: 600;
  border: 1px solid green;
  color: green;
}

.error {
  color: red;
  padding: 0;
  margin: 5px;
  font-weight: 600;
  border: 1px solid red;
}
