<app-add-document *ngIf="addingDocument" [selectedType]="selectedFileType" (onClose)="onCloseAddDocument($event)"></app-add-document>
<app-documento *ngIf="selectedDocument" [data]="selectedDocument" (done)="onCloseDetail($event)"></app-documento>
<div class="page">
  <div class="btn-bar">
    <button class="btn btn-basic " (click)="openNewDocument()">
      <i class="fa fa-plus"></i>
      nuevo documento
    </button>
    <button *ngIf="selectedFileType" class="btn btn-basic " (click)="refresh()">
      <i class="fa fa-refresh"></i>
      recargar datos
    </button>
    <button class="btn btn-clear" *ngIf="selectedFileType" (click)="clearSelection()">
      <i class="fa fa-trash"></i>
      limpiar selección
    </button>
  </div>
  <div class="indice-selector" *ngIf="filesTypes && filesTypes.length > 0">
    <mat-form-field>
      <mat-select placeholder="selecciona un tipo" (selectionChange)="onFileTypeChange($event)" [(ngModel)]="selectedFileType">
        <mat-option *ngFor="let type of filesTypes" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="indice-bar">
    <p class="indice-total-value" *ngIf="documents && documents.length > 0">Total: {{ documents.length }}</p>
    <div class="indice-searchbar" *ngIf="documents && documents.length > 0">
      <input matInput [(ngModel)]="searchValue" (keyup)="search($event.target.value)" placeholder="Buscar..." />
      <i *ngIf="searchValue === ''" class="fa fa-search"></i>
      <i *ngIf="searchValue !== ''" class="fa fa-close" (click)="resetSearch()"></i>
    </div>
  </div>

  <div class="page-table">
    <nz-table #basicTable [nzData]="documents" [nzPageSize]="10">
      <thead>
        <tr>
          <th>N.</th>
          <th>fecha alta</th>
          <th>
            nombre
          </th>
          <th>tipo</th>
          <th>audiencia</th>
          <th>acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data; let index = index">
          <td>{{ index + 1 }}</td>
          <td class="table-date">{{ data.createdAt | date: 'dd/MM/yyyy HH:MM' }}</td>
          <td class="label-boldy">{{ data.name }}</td>
          <td class="label-boldy">[ {{ data.fileExt }} ]</td>
          <td class="label-boldy">
            <p style="padding: 0; margin: 0; width: 200px; white-space:nowrap; overflow:hidden;text-overflow:ellipsis;">
              {{ data.audiencia }}
            </p>
          </td>
          <td>
            <a class="label-action-detail" (click)="selectDocument(data)">detalle</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a class="label-action-download" [href]="data.publicUrlPath" target="_blank">descargar</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a class="label-action-disable" (click)="deleteDocument(data)">suprimir</a>
          </td>
        </tr>
        <tr *ngIf="selectedExpandDoc">
          <span>{{ data.audiencia }}</span>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
