<div class="c-settings page">
  <div class="c-settings__container" *ngIf="adminUser">
    <div class="c-settings__container__content">
      <app-company-settings></app-company-settings>
      <div class="settings-separator"></div>
      <app-users-settings></app-users-settings>
      <div class="settings-separator"></div>
      <app-permissions-settings></app-permissions-settings>
      <div class="settings-separator"></div>
      <app-reservas-settings></app-reservas-settings>
      <div class="heavy"></div>
    </div>
  </div>
</div>
