.c-settings {

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__header {
      font-size: 18px;
      color: black;
      font-weight: 500;
      position: absolute;
      top: 0px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #000000c2;
      background-color: white;
      padding: 8px;

      p {
        padding: 0;
        margin: 0;
      }
    }

    &__content {
      width: 100%;
      overflow-x: hidden;
    }


    &__footer {
      font-size: 18px;
      color: black;
      font-weight: 500;
      position: absolute;
      bottom: 0px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid #000000c2;
      background-color: white;

    }
  }
}
