<div class="c-nueva-oferta c-modal">
  <div class="c-nueva-oferta__container c-modal__container">
    <div class="c-modal__container__header">
      <button class="c-modal__container__header__btn-save" [class.c-btn-disabled]="!validateForm.valid" [disabled]="!validateForm.valid" (click)="save()">Guardar</button>
      <p class="c-modal__container__header__title">Nueva oferta</p>
      <button class="c-modal__container__header__btn-close" (click)="close()">Cerrar</button>
    </div>
    <div class="c-modal__container__content">
      <form class="c-form" nz-form [formGroup]="validateForm">
        <nz-form-item class="c-form__item">
          <p class="c-form__item__label" nzFor="type">Type</p>
          <mat-select #type placeholder="Selecciona un tipo" [(value)]="selectedType">
            <mat-option (click)="selectType(type)" *ngFor="let type of ofertasTypes" [value]="type">
              <p>{{ type }}</p>
            </mat-option>
          </mat-select>
        </nz-form-item>

        <nz-form-item class="c-form__item">
          <p class="c-form__item__label" nzFor="clientname">Clientname</p>
          <nz-form-control nzErrorTip="Requiere un nombre de cliente">
            <input formControlName="clientname" nz-input type="text" id="client" placeholder="Ex: Pull&Bear" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="c-form__item">
          <p class="c-form__item__label" nzFor="title">Título</p>
          <nz-form-control nzErrorTip="Requiere un título">
            <input formControlName="title" nz-input type="text" id="title" placeholder="Ex: Rebajas verano" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="c-form__item">
          <p class="c-form__item__label" nzFor="description">Description</p>
          <nz-form-control nzErrorTip="Requiere una descripción">
            <textarea style="line-height: normal;" formControlName="description" nz-input rows="8" placeholder="Ex: Aprovecha nuestra oferta...."></textarea>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="c-form__item">
          <p class="c-form__item__label" nzFor="imageUrl">URL Imagen (CDN Link)</p>
          <nz-form-control nzErrorTip="Requiere un título">
            <input formControlName="imageUrl" nz-input type="text" id="imageUrl" placeholder="Ex: https://...." />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="c-form__item">
          <p class="c-form__item__label" nzFor="url">URL</p>
          <nz-form-control nzErrorTip="Requiere un título">
            <input formControlName="url" nz-input type="text" id="url" placeholder="Ex: https://...." />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="c-form__item">
          <p class="c-form__item__label" nzFor="qrcode">QRCode (ej: código promocional)</p>
          <nz-form-control nzErrorTip="Requiere un título">
            <input formControlName="qrcode" nz-input type="text" id="qrcode" placeholder="Ex: 10% en Camisetas" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="c-form__item">
          <p class="c-form__item__label" nzFor="phone">Teléfono</p>
          <nz-form-control nzErrorTip="Requiere un título">
            <input formControlName="phone" nz-input type="text" id="title" placeholder="Ex: 900 000 000" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="c-form__item">
          <p class="c-form__item__label" nzFor="discount">Descuento</p>
          <nz-form-control nzErrorTip="Requiere un título">
            <input formControlName="discount" nz-input type="text" id="discount" placeholder="Ex: 10% en Camisetas" />
          </nz-form-control>
        </nz-form-item>

        <mat-form-field class="c-form__item">
          <input matInput matInput [matDatepicker]="from" placeholder="Fecha inicio" (dateInput)="addEvent('from', $event)" (dateChange)="addEvent('from', $event)" />
          <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
          <mat-datepicker #from></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="c-form__item">
          <input matInput matInput [matDatepicker]="to" placeholder="Fecha fin" (dateInput)="addEvent('to', $event)" (dateChange)="addEvent('to', $event)" />
          <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
          <mat-datepicker #to></mat-datepicker>
        </mat-form-field>
      </form>
    </div>
    <div class="c-modal__container__footer">
      <!-- FOOTER CONTENT HERE -->
    </div>
  </div>
</div>
