<div class="c-book ic-comp-h">

    <div class="c-book__container ic-comp-cont-vc ic-card" *ngIf="serviceItem">
        <div class="c-book__container__header ic-header">
            <p class="ic-title">EDITAR SERVICIO</p>
        </div>
        <div class="c-book__container__item ic-item-hb-xl ">
            <div class="c-book__container__item ic-item-v ">
                <p class="c-book__container__item__label ic-item-label-xl">Tipo</p>
                <p class="c-book__container__item__value ic-item-value-xl">{{serviceItem.type}}</p>
            </div>
            <div class="c-book__container__item ic-item-v ">
                <p class="c-book__container__item__label ic-item-label-xl">Estado</p>
                <mat-slide-toggle class="ic-item-value" (change)="toggleChange($event)" [checked]="serviceItem.active" [(ngModel)]="serviceItem.active">
                    <p class="ic-item-value-xl" *ngIf="serviceItem.active">activo</p>
                    <p class="ic-item-value-xl" *ngIf="!serviceItem.active">inactivo</p>
                </mat-slide-toggle>
            </div>
        </div>
        <div class="c-book__container__item ic-item-hb-xl ">

            <div class="c-book__container__item ic-item-v ">
                <p class="c-book__container__item__label ic-item-label-xl">Email</p>
                <input class="ic-input" [(ngModel)]="serviceItem.email" />
            </div>
            <div class="c-book__container__item ic-item-v ">
                <p class="c-book__container__item__label ic-item-label-xl">Numero teléfono</p>
                <input class="ic-input" [(ngModel)]="serviceItem.phone" />
            </div>
        </div>

        <div class="c-book__container__btns ic-btns-block">
            <button class="btn-teal-m" (click)="saveChanges()">
                Guardar
            </button>
            <button class="btn-red-m" (click)="close()">
                Cerrar
            </button>
        </div>
    </div>
</div>