<app-book-local [data]="selectedItem" *ngIf="selectedItem" (done)="exitDetail($event)"></app-book-local>
<div class="c-table-local">
  <div class="btn-bar v-margin">
    <button class="btn btn-basic " (click)="exportExcel()">
      <i class="fa fa-plus"></i>
      exportar excel
    </button>
    <button class="btn btn-basic " (click)="refresh()">
      <i class="fa fa-refresh"></i>
      recargar datos
    </button>
    <button class="btn btn-clear" (click)="clearFilters()">
      <i class="fa fa-trash"></i>
      limpiar filtros
    </button>
  </div>
  <div class="indice-bar" *ngIf="originalData && originalData.length > 0">
    <p class="indice-total-value">Total: {{ data.length }}</p>
    <div class="indice-searchbar">
      <input matInput [(ngModel)]="searchValue" (keyup)="search($event.target.value)" placeholder="Buscar..." />
      <i *ngIf="searchValue === ''" class="fa fa-search"></i>
      <i *ngIf="searchValue !== ''" class="fa fa-close" (click)="resetSearch()"></i>
    </div>
    <div class="indice-selector">
      <mat-form-field>
        <mat-select placeholder="Filtro por fecha" (selectionChange)="onDateFilterChange($event)" [(ngModel)]="selectedFechaOption">
          <mat-option *ngFor="let item of filtroFechaItems" [value]="item.value">
            {{ item.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="selectedFechaOption === 'interval'" class="c-datepickers">
      <mat-form-field>
        <input matInput matInput [matDatepicker]="pickerIn" placeholder="fecha de inicio" (dateInput)="addEvent('in', $event)" (dateChange)="addEvent('in', $event)" />
        <mat-datepicker-toggle matSuffix [for]="pickerIn"></mat-datepicker-toggle>
        <mat-datepicker #pickerIn></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput matInput [matDatepicker]="pickerFin" placeholder="fecha de fin" (dateInput)="addEvent('fin', $event)" (dateChange)="addEvent('fin', $event)" />
        <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
        <mat-datepicker #pickerFin></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="page-table" *ngIf="originalData && originalData.length > 0">
    <nz-table #basicTable [nzData]="data" [nzPageSize]="10">
      <thead>
        <tr>
          <th>N.</th>
          <th>fecha</th>
          <th>
            usuario
          </th>
          <th>dirección</th>
          <th>hora</th>
          <th>num. horas</th>
          <th>estado</th>
          <th>acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data; let index = index">
          <td>{{ index + 1 }}</td>
          <td class="table-date">{{ data.day | date: 'dd/MM/yyyy' }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.adress }}</td>
          <td>{{ data.hours }}</td>
          <td>{{ data.countHours }}</td>
          <td>
            <p class="label-expired" *ngIf="data.expired">expirado</p>
            <p class="label-active" *ngIf="!data.expired && data.active">activo</p>
            <p class="label-inactive" *ngIf="!data.active">cancelado</p>
          </td>
          <td>
            <a class="label-action-detail" (click)="selectItemLocal(data)">detalle</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
