<app-edit-service *ngIf="serviceItem" [serviceItem]="serviceItem" (done)="serviceItem = null" (serviceSaved)="serviceSaved($event)"></app-edit-service>
<app-edit-phone *ngIf="phoneItem" [phoneItem]="phoneItem" (done)="phoneItem = null" (phoneSaved)="phoneSaved($event)"> </app-edit-phone>
<!-- <app-validation-modal [message]="modalService.validationMessage" (validationSelected)="validationCallback($event)"> </app-validation-modal> -->
<app-user-detail [data]="selectedUser" *ngIf="selectedUser" (done)="selectedUser = null"></app-user-detail>
<app-invite-users [comunity]="selectedComunity" *ngIf="selectedComunity && showInviteUser" (done)="showInviteUser = false"></app-invite-users>
<div class="c-gestion">
  <div class="page">
    <div class="btn-bar">
      <button class="btn btn-basic " (click)="exportar()">
        <i class="fa fa-download"></i>
        exportar excel
      </button>
      <button class="btn btn-basic " (click)="popInviteUser()">
        <i class="fa fa-user-plus"></i>
        invitar usuario
      </button>
      <button class="btn btn-basic " (click)="refresh()">
        <i class="fa fa-refresh"></i>
        recargar datos
      </button>
      <button class="btn btn-clear" (click)="clearFilters()">
        <i class="fa fa-trash"></i>
        limpiar filtros
      </button>
    </div>
    <div class="indice-bar" *ngIf="users && users.length > 0">
      <p class="indice-total-value">Total: {{ filteredUsers.length }}</p>
      <p class="indice-total-value" *ngIf="setOfCheckedId && setOfCheckedId.size > 0">Seleccionados: {{ setOfCheckedId.size }}</p>
      <div class="indice-searchbar">
        <input matInput [(ngModel)]="searchValue" (keyup)="search($event.target.value)" placeholder="Buscar..." />
        <i *ngIf="searchValue === ''" class="fa fa-search"></i>
        <i *ngIf="searchValue !== ''" class="fa fa-close" (click)="resetSearch()"></i>
      </div>
      <div class="indice-selector">
        <mat-form-field>
          <mat-select #stateSelect placeholder="Estado" [(ngModel)]="selectedStateOption">
            <mat-option (click)="stateEvent(state)" *ngFor="let state of states; let i = index" [value]="state">
              <p>{{ state }}</p>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select #actionSelect placeholder="Acciones" [(ngModel)]="selectedActionOption">
            <mat-option (click)="actionEvent(action)" *ngFor="let action of actions" [value]="action">
              <p>{{ action }}</p>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select #actionSelect placeholder="Ordenar" [(ngModel)]="selectedSortOption">
            <mat-option (click)="onSortUsers(item.value)" *ngFor="let item of orderItems" [value]="item.value">
              <p>{{ item.label }}</p>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="page-table">
      <nz-table #basicTable [nzData]="filteredUsers" [nzPageSize]="10">
        <thead>
          <tr>
            <!--            <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th> -->
            <th>
              <mat-checkbox (change)="onAllChecked($event)" [checked]="checked" [indeterminate]="indeterminate"> </mat-checkbox>
            </th>
            <th>N.</th>
            <th>fecha alta</th>
            <th>nombre</th>
            <th>
              email
            </th>
            <th>teléfono</th>
            <th>dirección</th>
            <th>estado</th>
            <th>acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data; let index = index">
            <td>
              <mat-checkbox (click)="$event.stopPropagation()" (change)="onItemChecked(data.id, $event)" [checked]="setOfCheckedId.has(data.id)"> </mat-checkbox>
            </td>
            <!--             <td [nzChecked]="setOfCheckedId.has(data.id)" [nzDisabled]="data.disabled" (nzCheckedChange)="onItemChecked(data.id, $event)"></td> -->
            <td>{{ index + 1 }}</td>
            <td class="table-date">{{ data.created_at | date: 'dd/MM/yyyy HH:MM' }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.phone }}</td>
            <td>{{ data.adress }}</td>
            <td>
              <p class="label-active" *ngIf="data.state === 0">activo</p>
              <p class="label-inactive" *ngIf="data.state === 1">inactivo</p>
            </td>
            <td>
              <a class="label-action-detail" (click)="selectUser(data)">detalle</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
