.c-gestion {
  height: 75vh;

  &__vecinos {
    width: 90vw;
    height: 600px;
    // border: 2px solid grey;
    margin: 30px;
    padding: 10px;

    &__total {
      font-weight: 600;
      color: #3F51B5;
    }
  }

  &__service {
    width: 90vw;
    height: 600px;
    //border: 2px solid grey;
    margin: 30px;
    padding: 10px;

    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__btnadd {
        right: 30px;

        button {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: grey;
          border-radius: 10px;
          padding: 5px;
        }

        img {
          height: 20px;
          padding: 5px;
        }

        p {
          font-size: 1.2em;
          color: white;
          text-align: center;
        }
      }
    }


    &__actions {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      &__btnedit {
        background-color: #009688;
        border-radius: 10px;
        margin: 5px;
        width: 80px;

        p {
          font-size: 1em;
          color: white;
          text-align: center;
        }
      }

      &__btndelete {
        background-color: orangered;
        border-radius: 10px;
        margin: 5px;
        width: 80px;

        p {
          font-size: 1em;
          color: white;
          text-align: center;
        }
      }
    }
  }

  &__phone {
    width: 90vw;
    height: 600px;
    //border: 2px solid grey;
    margin: 30px;
    padding: 10px;

    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__btnadd {
        right: 30px;

        button {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: grey;
          border-radius: 10px;
          padding: 5px;
        }

        img {
          height: 20px;
          padding: 5px;
        }

        p {
          font-size: 1.2em;
          color: white;
          text-align: center;
        }
      }
    }

    &__actions {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      &__btnedit {
        background-color: #009688;
        border-radius: 10px;
        margin: 5px;
        width: 80px;

        p {
          font-size: 1em;
          color: white;
          text-align: center;
        }
      }

      &__btndelete {
        background-color: orangered;
        border-radius: 10px;
        margin: 5px;
        width: 80px;

        p {
          font-size: 1em;
          color: white;
          text-align: center;
        }
      }
    }
  }
}

.item-active {
  background-color: rgb(207, 234, 243);
}

.item-disable {
  background-color: rgb(253, 200, 200);
}

.mat-column-select {
  overflow: visible;
}

.form-group {
  width: 500px;
}

mat-form-field {
  max-width: 300px;
  font-size: 14px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-left: 25px;
}


.document-cont {
  height: 600px;
  display: flex;
  justify-content: left;
}

.btn-success {
  display: flex;
  justify-content: center;
  margin-left: 110px;
  color: #fff;
  font-style: bold;
  background-color: #009688;
  margin-top: 50px;
  width: 250px;
}

.customBtn {
  height: 50px;
  width: 120px;
  padding: 0;
}

mat-card {
  padding: 8px;
}

.body {
  margin: 10px;
}

mat-header-cell {
  font-size: 0.7em;
  color: #3f51b5;
}

.tableau {
  text-align: center;
  font-size: 20px;
  border: lightgray 2px solid;
  height: 600px;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

div.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 22%;
  height: 120px;
}

/* Style the buttons inside the tab */
div.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
div.tab button.active {
  background-color: sky;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 96%;
  border-left: none;
}

input[type="text"],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #009688;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical;
  /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #009688;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #009688;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  height: 500px;
}

th {
  background-color: #009688;
  color: white;
  font-size: 18px;
}

td {
  font-size: 14px;
  min-height: 100px;
}

mat-icon {
  color: red;
}

.normal {
  background: #81d4fa;
}

.lock {
  background: lightgray;
}

mat-row {
  min-height: 65px;
}
