<router-outlet></router-outlet>

<app-loader *ngIf="modalService.isLoadingModal()"></app-loader>
<app-image-viewer *ngIf="imageViewerLoaded"></app-image-viewer>
<app-settings *ngIf="modalService.visibleSettingsModal"></app-settings>
<app-session-expired *ngIf="modalService.visibleSessionExpiredModal"></app-session-expired>
