.c-users-settings {
  width: 100%;
  padding: 3px;

  &__container {
    width: 100%;

    &__header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 25px;

      p {
        color: #145371;
        padding: 0;
        margin: 0;
        font-size: 15px;
        font-weight: 700;
      }
    }

    &__subheader {
      width: 100%;
      margin: 5px 0px;

      p {
        color: black;
        padding: 0;
        margin: 0;
        font-size: 12px;
        font-weight: 400;
      }

      &__red {
        color: #a10f3d !important;
      }
    }


    &__my-user {}

    &__manage-users {

      &__table {
        table {
          width: 100%;
          border-collapse: collapse;
          overflow: hidden;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        .table-link {
          font-size: 10px;
          color: #145371;
          font-weight: 400;
          padding: 0;
          margin: 0;
          -webkit-text-decoration: underline #145371;
          text-decoration: underline #145371;
        }

        .table-link-red {
          font-size: 12px;
          color: #a10f3d;
          font-weight: 400;
          padding: 0;
          margin: 0;
          -webkit-text-decoration: underline #a10f3d;
          text-decoration: underline #a10f3d;
        }

        th {
          padding: 10px;
          background-color: rgba(255, 255, 255, 0.2);
          color: #fff;
          font-size: 10px;
          min-width: 30px;
          max-width: 60px;
        }

        td {
          padding: 10px;
          background-color: rgba(255, 255, 255, 0.2);
          color: black;
          font-size: 12px;
          min-width: 30px;
          max-width: 60px;
        }

        th {
          text-align: left;
        }

        thead {
          th {
            background-color: #145371;
          }
        }

        tbody {
          tr {
            &:hover {
              background-color: rgba(255, 255, 255, 0.3);
            }
          }

          td {
            position: relative;

            &:hover {
              &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: -9999px;
                bottom: -9999px;
                background-color: rgba(255, 255, 255, 0.2);
                z-index: -1;
              }
            }
          }
        }
      }
    }
  }
}
