<div class="c-users-settings" *ngIf="adminUser">
  <!-- MY USER -->
  <div class="c-users-settings__container__my-user">
    <div class="c-users-settings__container__header">
      <p>Mi usuario</p>
    </div>
    <div class="c-users-settings__container__infos">
      <div class="info-item">
        <p class="info-item__label">Nombre</p>
        <p class="info-item__value">{{ adminUser.name }}</p>
      </div>
      <div class="info-item">
        <p class="info-item__label">Rol</p>
        <p class="info-item__value">{{ adminUser.mainRole }}</p>
      </div>
      <div class="info-item">
        <p class="info-item__label">Ultimo acceso</p>
        <p class="info-item__value">{{ adminUser.lastConnection | date: 'dd/MM/yyyy HH:mm' }}</p>
      </div>
      <div class="btns-container">
        <button class="btns-container__changepassword" (click)="sendResetPassword()">Reiniciar contraseña</button>
      </div>
    </div>
  </div>

  <!-- USERS MANAGEMENT -->
  <div class="c-users-settings__container__manage-users" *ngIf="isManageUsers">
    <div class="c-users-settings__container__header">
      <p>Administrar usuarios</p>
    </div>
    <div class="c-users-settings__container__manage-users__table">
      <div *ngIf="!isCreateUser" class="c-users-settings__container__subheader">
        <p>Usuarios creado: {{ createdUsersCount }}</p>
        <p class="c-users-settings__container__subheader__red">Limite Max usuarios: {{ limitUsersCreateCount }}</p>
      </div>
      <table>
        <thead>
          <tr>
            <th>Rol</th>
            <th>Nombre y Apellido</th>
            <th>Cuenta activada</th>
            <th>Fecha alta</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of companyUsers">
            <td>{{ user.mainRole }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.activated ? 'Si' : 'No' }}</td>
            <td>{{ user.createdAt | date: 'dd/MM/yyyy HH:mm' }}</td>
            <td>
              <a class="table-link-red" (click)="deleteUserRequest(user)">suprimir</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="btns-container">
      <button *ngIf="!isCreateUser" class="btns-container__createuser" (click)="toggleCreateUser()">Crear nuevo usuario</button>
    </div>
    <div class="c-users-settings__container__manage-users__form" *ngIf="isCreateUser">
      <div class="c-users-settings__container__header">
        <p>Creación nuevo usuario</p>
      </div>
      <form class="i-form-container-start" nz-form [formGroup]="validateForm">
        <nz-form-item class="i-form-item">
          <p class="i-form-item__label" nzFor="name">Empresa</p>
          <p *ngIf="selectedCompanyName; else elseCompany" class="i-form-item__value">{{ selectedCompanyName }}</p>
          <ng-template #elseCompany>
            <nz-select [(ngModel)]="selectedCompany" (ngModelChange)="setCompany($event)" [nzPlaceHolder]="'Selecciona una empresa'">
              <nz-option *ngFor="let company of companies" [nzLabel]="company.name" [nzValue]="company" (nzOptionChange)="setCompany(company)"></nz-option>
            </nz-select>
          </ng-template>
        </nz-form-item>
        <nz-form-item class="i-form-item">
          <p class="i-form-item__label">Rol</p>
          <nz-select formControlName="mainRole" (ngModelChange)="setRole($event)" [nzPlaceHolder]="'Selecciona un rol'">
            <nz-option *ngFor="let role of availableRoles" [nzLabel]="role" [nzValue]="role"></nz-option>
          </nz-select>
        </nz-form-item>
        <nz-form-item class="i-form-item">
          <p class="i-form-item__label" nzFor="name">Nombre y apellidos</p>
          <nz-form-control nzErrorTip="Valor invalidó">
            <input class="i-form-item__input" formControlName="name" nz-input type="text" id="name" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="i-form-item">
          <p class="i-form-item__label" nzFor="email">Email</p>
          <nz-form-control nzErrorTip="Email invalidó">
            <input class="i-form-item__input" formControlName="email" nz-input type="text" id="email" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="i-form-item">
          <p class="i-form-item__label" nzFor="email">Teléfono (opcional)</p>
          <nz-form-control>
            <input class="i-form-item__input" formControlName="phone" nz-input type="text" id="phone" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="i-form-item">
          <p class="i-form-item__label" nzFor="canEdit">[PERMISO] Crear y Editar datos</p>
          <nz-form-control>
            <nz-radio-group class="i-form-item__radio" formControlName="canEdit">
              <label nz-radio nzValue="true">Si</label>
              <label nz-radio nzValue="false">No</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="i-form-item">
          <p class="i-form-item__label">[PERMISO] Acceso Vistas</p>
          <nz-form-control>
            <div class="i-form-item__pagesCheckboxes">
              <label nz-checkbox [nzValue]="page" *ngFor="let page of availablePages" (nzCheckedChange)="onPageCheckedChange(page)">{{ page }}</label>
            </div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="i-form-item">
          <p class="i-form-item__label">[PERMISO] Acceso Comunidades</p>
          <nz-form-control>
            <div class="i-form-item__comunitiesCheckboxes">
              <label nz-checkbox [nzValue]="com.code" *ngFor="let com of comunities" (nzCheckedChange)="onComunityCheckedChange(com)">{{ com.name }}</label>
            </div>
          </nz-form-control>
        </nz-form-item>
      </form>
      <p class="error-message" *ngIf="validateForm.isDirty && !validateForm.valid">Debe proporcionar todos los datos: Empresa - Email - Nombre - Roles - Comunidades</p>
      <div class="btns-container">
        <button [class.c-btn-disabled]="!isCreateUserFormValid" [disabled]="!isCreateUserFormValid" class="btns-container__btnok" (click)="createUserRequest()">
          Validar y crear usuario
        </button>
        <button class="btns-container__btncancel" (click)="resetCreateUserForm()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
