<div class="c-new-documento ic-comp-h">
  <div [class.fadeOut]="closing" class="c-new-documento__container ic-comp-cont-vc ic-card fadeIn">
    <div class="ic-header">
      <p class="ic-title">NUEVO DOCUMENTO</p>
    </div>

    <form class="form-container-start" nz-form [formGroup]="validateForm">
      <nz-form-item class="form-item">
        <p class="ic-item-label-b" nzFor="name">Tipo de documento</p>
        <mat-select #type placeholder="Selecciona un tipo" [(value)]="selectedType">
          <mat-option (click)="selectType(type)" *ngFor="let type of filesTypes" [value]="type">
            <p>{{ type }}</p>
          </mat-option>
        </mat-select>
      </nz-form-item>
      <nz-form-item class="form-item">
        <p class="ic-item-label-b" nzFor="name">Nombre del documento</p>
        <nz-form-control>
          <input formControlName="name" nz-input type="text" id="name" placeholder="Ej: Gatos mayo..." />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="form-item">
        <nz-upload
          [nzAction]="fileUploadUrl"
          [nzLimit]="1"
          [nzSize]="200"
          [nzFileType]="
            'application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation,image/png,image/jpeg,image/gif,image/bmp,application/pdf'
          "
          [nzHeaders]="{ authorization: 'authorization-text' }"
          (nzChange)="handleChange($event)"
        >
          <button nz-button>
            <i nz-icon nzType="upload"></i>
            Añadir archivo
          </button>
          <p>pdf - docx - xls - png - jpeg</p>
        </nz-upload>
      </nz-form-item>
      <nz-form-item class="form-item item-sw">
        <p class="ic-item-label-b" nzFor="forComunity">Para toda la comunidad</p>
        <nz-form-control>
          <nz-switch formControlName="forComunity" (click)="clickSwitch()"></nz-switch>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="form-item" *ngIf="showUsers">
        <p class="ic-item-label-b" nzFor="forComunity">Lista usuarios</p>
        <div class="list-border-2">
          <div class="list-item-2" *ngFor="let user of users">
            <input type="checkbox" (click)="checkUser(user.id)" />
            <p>{{ user.name }}</p>
            -
            <p>{{ user.email }}</p>
            -
            <p>{{ user.adress }}</p>
          </div>
        </div>
      </nz-form-item>
    </form>
    <p class="error-message" *ngIf="validateForm.isDirty && !validateForm.valid">Debe proporcionar todos los datos: Tipo - Nombre - Archivo - Audiencia</p>
    <div class="ic-btns-block">
      <button class="btn-teal-m" nz-button [class.btn-disabled]="!validateForm.valid" [disabled]="!validateForm.valid" (click)="sendDocument()">Enviar</button>
      <button class="btn-red-m" nz-button (click)="close()">Cancelar</button>
    </div>
  </div>
</div>
