<div class="c-servicemodal" *ngIf="modalService.visibleServiceModal">
    <div class="c-servicemodal__container animate fadein">
        <!--  <img class="c-servicemodal__container__btnclose" [src]="closeIcon" (click)="modalService.showServiceModal = false">
      <img class="c-servicemodal__container__btnok" [src]="okIcon" (click)="saveChanges()"> -->
        <button class="c-servicemodal__container__btnclose" (click)="modalService.visibleServiceModal = false">Cerrar</button>
        <button class="c-servicemodal__container__btnok" (click)="saveChanges()">Guardar</button>
        <div class="c-servicemodal__container__header">
            <p>Editar un servicio</p>
        </div>
        <div class="c-servicemodal__container__content">
            <div class="c-servicemodal__container__content__item">
                <p class="c-servicemodal__container__content__item__label">Estado</p>
                <mat-slide-toggle (change)="toggleChange($event)" color="primary" [checked]="serviceItem.active" [(ngModel)]="serviceItem.active">
                    <p *ngIf="serviceItem.active">activado</p>
                    <p *ngIf="!serviceItem.active">desactivado</p>
                </mat-slide-toggle>
            </div>
            <div class="c-servicemodal__container__content__item">
                <p class="c-servicemodal__container__content__item__label">Tipo</p>
                <p class="c-servicemodal__container__content__item__value">{{serviceItem.type}}</p>
            </div>
            <div class="c-servicemodal__container__content__item">
                <p class="c-servicemodal__container__content__item__label">Nombre</p>
                <p class="c-servicemodal__container__content__item__value">{{serviceItem.name}}</p>
            </div>
            <div class="c-servicemodal__container__content__item">
                <p class="c-servicemodal__container__content__item__label">Email</p>
                <input class="c-servicemodal__container__content__item__value" [(ngModel)]="serviceItem.email" />
            </div>
            <div class="c-servicemodal__container__content__item">
                <p class="c-servicemodal__container__content__item__label">Telefono</p>
                <input class="c-servicemodal__container__content__item__value" [(ngModel)]="serviceItem.phone" />
            </div>
        </div>
    </div>
</div>