<div class="plan-blocked">
  <div class="plan-blocked__container">
    <img class="plan-blocked__container__image" [src]="blocked" />
    <p class="plan-blocked__container__title">AVISO INCIDENCIA</p>
    <p class="plan-blocked__container__subtitle">Su plan ha expirado, por favor póngase en contacto con nuestro equipo de Soporte para resolver la incidencia.</p>
  </div>
</div>
