.plan-blocked {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000066;
  z-index: 1000000;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 500px;

    &__image {
      width: 60px;
      height: 60px;
      margin: 20px;
    }

    &__title {
      font-size: 20px;
      font-weight: 600;
      color: orangered;
    }

    &__subtitle {
      font-size: 15px;
      color: black;
      text-align: center;
    }
  }
}
