.c-admin-ofertas {
  width: 100%;
  height: 100%;

  &__container {
    width: 100%;
    height: 100%;
    padding: 5px;


    &__header {
      display: flex;
      align-items: center;
      width: 100%;
      margin: 5px 0px;

      &__count {
        font-size: 15px;
        color: black;
        font-weight: 600;
        margin: 0px 5px;
        padding: 0;
      }
    }


  }

}
