<div class="c-admin-ofertas side-container">
  <div class="c-admin-ofertas__container side-container">
    <div class="c-admin-ofertas__container__header">
      <i nz-icon nzType="sync" nzTheme="outline" (click)="refresh()"></i>
      <p class="c-admin-ofertas__container__header__count">Total: {{ ofertas.length }}</p>
      <button class="btn-thor-add" (click)="openNuevaOferta()">Nueva oferta</button>
    </div>
    <div class="c-admin__ofertas__container__table">
      <div class="admin-table-container">
        <table>
          <thead>
            <tr>
              <th>N.</th>
              <th>Offer ID</th>
              <th>Clientname</th>
              <th>Type</th>
              <th>Phone</th>
              <th>Link</th>
              <th>QRCode</th>
              <th>From</th>
              <th>To</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let oferta of ofertas; let index = index">
              <td>{{ index + 1 }}</td>
              <td>{{ oferta.clientID }}</td>
              <td>{{ oferta.clientname }}</td>
              <td>{{ oferta.type }}</td>
              <td>{{ oferta.phone ? 'Yes' : 'No' }}</td>
              <td>{{ oferta.url }}</td>
              <td>{{ oferta.qrcode ? 'Yes' : 'No' }}</td>
              <td>{{ oferta.from | date: 'dd/MM/yyyy HH:mm' }}</td>
              <td>{{ oferta.to | date: 'dd/MM/yyyy HH:mm' }}</td>
              <td>
                <a class="table-link" (click)="editOffer(oferta)">Edit</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a class="table-link-red" (click)="deleteOffer(oferta)">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-nueva-oferta *ngIf="createMode" (done)="onCreateClose($event)"></app-nueva-oferta>
