.c-session-expired {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 205;
  background-color: #000000c2;

  &__container {
    width: 400px;
    margin-top: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    right: -100px;
    border-radius: 5px;
    margin-right: 110px;


    h1 {
      color: grey;
      font-size: 20px;
    }

    img {
      width: 50px;
      height: 50px;
      margin: 20px;
    }

    p {
      font-size: 15px;
      color: black;
      text-align: center;
    }

    button {
      width: 100px;
      border: none;
      border-radius: 5px;
      padding: 8px;
      font-size: 12px;
      font-weight: 400;
      background-color: #145371;
      color: white;
    }

  }

}
