<div class="c-session-expired">
  <div class="c-session-expired__container">
    <h1>Sesión expirada</h1>
    <img [src]="sessionExpiredIcon" />
    <p>Su sesión ha expirado, por favor vuelve a conectarse.</p>
    <button (click)="redirectLogin()">Entendido</button>
  </div>
</div>
