.c-permissions-settings {
  width: 100%;
  padding: 3px;

  &__container {
    width: 100%;

    &__header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 25px;

      p {
        color: #145371;
        padding: 0;
        margin: 0;
        font-size: 15px;
        font-weight: 700;
      }
    }

  }
}
