<div class="c-permissions-settings" *ngIf="adminUser && adminUser.permissions">
  <div class="c-permissions-settings__container__myuser">
    <div class="c-permissions-settings__container__header">
      <p>Mis permisos</p>
    </div>
    <div class="c-permissions-settings__container__infos">
      <div class="info-item">
        <p class="info-item__label">Modificar datos</p>
        <p class="info-item__value">{{ adminUser.permissions.hasEditPermission ? 'Si' : 'No' }}</p>
      </div>
      <div class="info-item">
        <p class="info-item__label">Administrar usuarios</p>
        <p class="info-item__value">{{ adminUser.permissions.hasUsersAdminPermission ? 'Si' : 'No' }}</p>
      </div>
      <div class="info-item" *ngIf="adminUser.permissions.pagesAllowed">
        <p class="info-item__label">Acceso vistas</p>
        <div class="info-item__taglist">
          <p class="info-item__taglist__tag" *ngFor="let page of adminUser.permissions.pagesAllowed">
            {{ page }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
