<!-- <div class="c-validationmodal" *ngIf="modalService.showValidationModal">
<div class="c-validationmodal__container">
<div class="c-validationmodal__container__title">Confirmación</div>
<div class="c-validationmodal__container__message">
<p> {{message}} </p>
</div>
</div>
</div> -->
