<div class="c-phonemodal" *ngIf="modalService.visiblePhoneModal">
    <div class="c-phonemodal__container animate fadein">
        <button class="c-phonemodal__container__btnclose" (click)="modalService.visiblePhoneModal = false">Cerrar</button>
        <button class="c-phonemodal__container__btnok" (click)="saveChanges()">Guardar</button>
        <div class="c-phonemodal__container__header">
            <p>Editar un telefono</p>
        </div>
        <div class="c-phonemodal__container__content">
            <div class="c-phonemodal__container__content__item">
                <p class="c-phonemodal__container__content__item__label">Activado</p>
                <mat-slide-toggle (change)="toggleChange($event)" color="primary" [checked]="phoneItem.active" [(ngModel)]="phoneItem.active">
                    <p *ngIf="phoneItem.active">activado</p>
                    <p *ngIf="!phoneItem.active">desactivado</p>
                </mat-slide-toggle>
            </div>
            <div class="c-phonemodal__container__content__item">
                <p class="c-phonemodal__container__content__item__label">Nombre</p>
                <p class="c-phonemodal__container__content__item__value">{{phoneItem.name}}</p>
            </div>
            <div class="c-phonemodal__container__content__item">
                <p class="c-phonemodal__container__content__item__label">Telefono</p>
                <input class="c-phonemodal__container__content__item__value" [(ngModel)]="phoneItem.number" />
            </div>
        </div>
    </div>
</div>