.c-phonemodal{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background-color: #d3d3d3c4;
    &__container{
        width: 50vw;
        margin-top: -100px;
        z-index: 5;
        background-color: white;
        border-radius: 10px;
        position: relative;
        &__btnclose{
            position: absolute;
            margin: 5px;
            width: 120px;
            height: 40px;
            border-radius: 10px;
            padding: 5px;
            background-color: lightgrey;
            font-size: 1.2em;
        }
        &__btnok{
            position: absolute;
            right: 0;
            margin: 5px;
            width: 120px;
            height: 40px;
            border-radius: 10px;
            padding: 5px;
            background-color: rgba(6, 30, 53, 0.562);
            font-size: 1.2em;
        }
        &__header{
            width: 100%;
            text-align: center;
            p{
                font-size: 2em;
                color: black;
                text-align: center;
            }
        }
        &__content{
            display: flex;
            flex-direction: column;
            padding-left: 80px;

            &__item{
                display: flex;
                flex-direction: row;
                align-items: center;
                &__label{
                    width: 100px;
                    color: white;
                    background-color: rgb(22, 78, 97);
                    border-radius: 15px;
                    padding: 10px;
                    font-size: 1.2em;
                    text-align: center;
                    margin-right: 50px;
                }
                &__value{
                    padding: 5px;
                    font-size: 1.2em;
                    font-weight: 600;
                    color: black;
                    text-align: center;
                    
                }
               
            }
          
        }
    }
}
input{
    background-color: lightgrey;
    border-radius: 10px;
    padding: 5px;
    color: black;
}