<div class="c-invite-users ic-comp-h">
  <div [class.fadeOut]="closing" class="c-invite-users__container ic-comp-cont-vc ic-card fadeIn">
    <div class="c-invite-users__container__header ic-header">
      <p class="ic-title">INVITACIONES DE USUARIOS</p>
    </div>
    <app-no-data [text]="'No hay datos'" *ngIf="!invites || invites.length === 0"></app-no-data>
    <div class="c-detail-table table-250" *ngIf="invites && invites.length > 0">
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-2">Fecha Alta</div>
          <div class="col col-2">Email</div>
          <div class="col col-3">Enviado</div>
        </li>
        <li class="table-row" *ngFor="let invite of invites">
          <div class="col col-2 table-date">{{ invite.updatedAt | date: 'dd/MM/yyyy HH:mm' }}</div>
          <div class="col col-2">{{ invite.email }}</div>
          <div class="col col-2 txt-center">{{ invite.sent ? 'Si' : 'No' }}</div>
        </li>
      </ul>
    </div>
    <div class="c-invite-users__container__invite">
      <p class="txt-h3">Invitar nuevos usuarios</p>
      <nz-tag class="txt-tag" *ngFor="let tag of tags; let i = index" [nzMode]="i === 0 ? 'default' : 'closeable'" (nzOnClose)="handleClose(tag)">
        {{ tag }}
      </nz-tag>
      <nz-tag *ngIf="!inputVisible" class="editable-tag" nzNoAnimation (click)="showInput()">
        <i nz-icon nzType="plus"></i>
        Añadir email
      </nz-tag>
      <input
        #inputElement
        class="tag-input"
        nz-input
        nzSize="small"
        *ngIf="inputVisible"
        type="text"
        [(ngModel)]="inputValue"
        style="width: 78px;"
        (blur)="handleInputConfirm()"
        (keydown.enter)="handleInputConfirm()"
      />
      <button class="popup-ok-btn" (click)="sendInvites()">Enviar invitaciones</button>
      <p class="txt-tips">*Enviaremos un email con el enlace para descargar la app de Icomunity y el código de acceso al espacio digital de su comunidad.</p>
    </div>
    <div class="c-invite-users__container__btns ic-btns-block">
      <button class="btn-red-m" (click)="close()">
        Cerrar
      </button>
    </div>
  </div>
</div>
