.c-invite-users {
  &__container {

    &__invite {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 80%;
      border: 1px grey dashed;
      padding: 20px;
      margin: 10px 0px;
    }
  }
}
