<div class="c-company-settings" *ngIf="adminUser">
  <div class="c-company-settings__container" *ngIf="adminUser.company; else elseNoCompany">
    <div class="c-company-settings__container__header">
      <p>Datos de la Empresa</p>
    </div>
    <div class="c-company-settings__container__logo">
      <img *ngIf="adminUser.company && adminUser.company.logoUrl; else elseBlock" [src]="adminUser.company.logoUrl" />
      <ng-template #elseBlock>
        <img [src]="companyLogoPlaceholder" />
      </ng-template>
    </div>
    <div class="c-company-settings__container__infos">
      <div class="info-item">
        <p class="info-item__label">Empresa</p>
        <p class="info-item__value">{{ adminUser.company.name }}</p>
      </div>
      <div class="info-item">
        <p class="info-item__label">Dirección</p>
        <p class="info-item__value">{{ adminUser.company.address }}, {{ adminUser.company.postalCode }}</p>
      </div>
      <div class="info-item">
        <p class="info-item__label">CIF</p>
        <p class="info-item__value">{{ adminUser.company.cif }}</p>
      </div>
    </div>
  </div>
  <ng-template #elseNoCompany>
    <app-no-data [text]="'No se han podido cargar los datos de la empresa'"> </app-no-data>
  </ng-template>
</div>
