.c-company-settings {
  width: 100%;
  padding: 3px;

  &__container {
    width: 100%;

    &__header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 25px;

      p {
        color: #145371;
        padding: 0;
        margin: 0;
        font-size: 15px;
        font-weight: 700;
      }
    }

    &__logo {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }

    &__infos {}
  }
}

.info-item {
  margin-bottom: 10px;

  &__label {
    color: #145371;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
  }

  &__value {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: black;
  }
}
