<div class="c-new-noticia ic-comp-h" *ngIf="visible">
  <div [class.fadeOut]="closing" class="c-new-noticia__container ic-comp-cont-vc ic-card fadeIn">
    <div class="ic-header">
      <p class="ic-title">NUEVA NOTICIA</p>
    </div>
    <form class="form-container" nz-form [formGroup]="validateForm">
      <div class="c-detail-table">
        <ul class="responsive-table">
          <li class="table-header">
            <div class="col col-1">Título</div>
          </li>
          <li class="table-row">
            <div class="col col-3">
              <nz-form-control>
                <input formControlName="title" nz-input type="text" id="title" placeholder="Escribe un título" />
              </nz-form-control>
            </div>
          </li>
        </ul>
        <ul class="responsive-table">
          <li class="table-header">
            <div class="col col-1">Descripción</div>
          </li>
          <li class="table-row">
            <div class="col col-3">
              <nz-form-control nzErrorTip="Requiere una descripción">
                <textarea style="line-height: normal;" formControlName="description" nz-input rows="8" cols="50" placeholder="Escribe la descripción"></textarea>
              </nz-form-control>
            </div>
          </li>
        </ul>
        <ul class="responsive-table">
          <li class="table-header">
            <div class="col col-2">Añadir archivo</div>
          </li>
          <li class="table-row">
            <div class="col col-3">
              <nz-form-item class="form-item">
                <nz-upload
                  [nzAction]="fileUploadUrl"
                  [nzLimit]="2"
                  [nzSize]="200"
                  [nzFileType]="
                    'application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation,image/png,image/jpeg,image/gif,image/bmp,application/pdf'
                  "
                  [nzHeaders]="{ authorization: 'authorization-text' }"
                  (nzChange)="handleChange($event)"
                >
                  <button nz-button>
                    <i nz-icon nzType="upload"></i>
                    Añadir archivo
                  </button>
                  <p class="text-white">pdf - docx - xls - png - jpeg</p>
                </nz-upload>
              </nz-form-item>
            </div>
          </li>
        </ul>
        <p class="ic-subtitle">* Se enviará una notificación push a todos los usuarios de esta comunidad y aparecerá la noticia en el apartado de la app</p>
      </div>
    </form>
    <div class="ic-btns-block">
      <button class="btn-teal-m" nz-button [disabled]="!validateForm.valid" (click)="sendNoticia()">Enviar</button>
      <button class="btn-red-m" nz-button (click)="close()">Cancelar</button>
    </div>
    <!--     <form>
            <div class="form-group">
                <label for="title">Titulo</label>
                <input type="text" placeholder="Titulo de la noticia.." id="title" [(ngModel)]="model.title" name="title">
            </div>
            <div class="form-group">
                <label for="description">Descripción</label>
                <textarea id="description" placeholder="Descripcion de la noticia.." [(ngModel)]="model.description" name="description" style="height:200px"></textarea>
            </div>
            <div class="select-file">
                <input #myInput type="file" id="file" (change)="onFileChange($event)">
            </div>
            <input class="submit-btn" type="submit" value="Validar" (click)="upload()">
        </form> -->
  </div>
</div>
