// @import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap.css";

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif !important;
}

:root {
  --container-padding: 20px;
  --container-width: calc(100% - var(--container-padding) * 2);
}

.form-error {
  color: red;
  font-size: 10px;
  padding: 0;
  margin: 2px 0px;
}


.settings-separator {
  width: 100%;
  height: 1px;
  background-color: #1453713b;
  margin: 20px 0px;
}

.heavy {
  height: 50px;
}



.i-form-item {
  margin-bottom: 10px !important;
  min-width: 300px;
  max-width: 400px;
  text-align: start;

  &__label {
    color: #145371;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 12px;
    font-weight: 400;
  }

  &__input {
    width: 100%;
    max-width: 400px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 5px;
    height: 32px;
    color: black;
    border-color: #d9d9d9;
  }

  &__radio {
    margin: 5px 0px;
  }

  &__select {
    width: 100% !important;
    max-width: 300px;
  }

  &__pagesCheckboxes {
    display: flex;
    margin: 5px 0px;

    label {
      display: flex;
      align-items: center;
      font-size: 12px !important;
      color: black;
      padding: 0 !important;
      margin: 0 !important;
    }
  }

  &__comunitiesCheckboxes {
    display: flex;
    flex-direction: column;
    margin: 5px 0px;

    label {
      font-size: 12px !important;
      color: black;
      padding: 0 !important;
      margin: 0 !important;
    }
  }

}

.info-item {
  margin-bottom: 10px;

  &__label {
    color: #145371;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
  }

  &__value {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: black;
  }

  &__taglist {
    width: 100%;
    padding: 5px 0px;
    display: flex;
    align-items: center;

    &__tag {
      padding: 5px;
      margin: 0;
      font-size: 14px;
      font-weight: 400;
      color: #145371;
      border: 1px solid #145371;
      margin-right: 10px;
    }
  }
}

.btns-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 30px;

  button {
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin-right: 20px;
    font-size: 12px;
    font-weight: 400;
  }

  &__changepassword {
    background-color: #145371;
    color: white;
  }

  &__createuser {
    background-color: #145371;
    color: white;
  }

  &__btnok {
    background-color: #145371;
    color: white;
  }

  &__btncancel {
    background-color: #a52a2ad1;
    color: white;
  }
}

.version {
  color: white;
  font-size: 10px !important;
  font-weight: 200 !important;
  padding: 0;
  margin: 0;
}

.copyright {
  color: white;
  font-size: 12px;
  font-weight: 200;
  padding: 0;
  margin: 0;
}

.today-date {
  color: white;
  position: absolute;
  right: 20px;
  font-size: 12px;
  padding: 0;
  margin: 0px;
}


.c-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px !important;

  &__item {
    width: 100%;
    min-width: 200px;
    max-width: 400px;

    input,
    textarea {
      width: 100%;
    }

    &__label {
      font-size: 14px;
      color: black;
      font-weight: 400;
    }
  }
}

.c-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #91eada99;
  width: 100vw;
  height: 100vh;
  z-index: 1;

  &__container {
    width: 800px;
    height: calc(100vh - 150px);
    max-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: relative;
    border-radius: 10px;

    &__header {
      height: 50px;
      background-color: #80808017;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &__title {
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: 600;
      }

      &__btn-save {
        position: absolute;
        left: 5px;
        width: 100px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid lightgrey;
        color: white;
        background-color: #0d73afdb;
      }

      &__btn-close {
        position: absolute;
        right: 5px;
        width: 100px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid lightgrey;
        color: white;
        background-color: #b02828cc;
      }
    }

    &__content {
      width: 100%;
      display: flex;
      justify-content: center;
      height: 90%;
      overflow-y: auto;
    }

    &__footer {
      position: absolute;
      bottom: 0;
      height: 50px;
      background-color: #80808017;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.admin-table-container {
  table {
    min-width: 1000px;
    width: 90%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .table-link {
    font-size: 12px;
    color: #0f5fa5;
    font-weight: 500;
    padding: 0;
    margin: 0;
    -webkit-text-decoration: underline #0f5fa5;
    text-decoration: underline #0f5fa5;
  }

  .table-link-red {
    font-size: 12px;
    color: #a10f3d;
    font-weight: 500;
    padding: 0;
    margin: 0;
    -webkit-text-decoration: underline #a10f3d;
    text-decoration: underline #a10f3d;
  }

  th {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 12px;
    min-width: 80px;
  }

  td {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
    font-size: 12px;
  }

  th {
    text-align: left;
    font-size: 12px;
  }

  thead {
    font-size: 12px;

    th {
      background-color: #55608f;
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }

    td {
      position: relative;

      &:hover {
        &:before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: -9999px;
          bottom: -9999px;
          background-color: rgba(255, 255, 255, 0.2);
          z-index: -1;
        }
      }
    }
  }
}

.side-container {
  width: 100%;
  height: 100%;
}

.incidencia-pendiente-bg {
  background-color: #b99b1e36;
}

.image-viewer-container {
  width: 400px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;

}

.image-viewer {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.image-viewer-error {
  font-size: 15px;
  color: white;
  font-weight: 600;
  text-align: center;
}

.miniature-image {
  width: 25px;
  border-radius: 10px;
}

.fadeIn {
  animation: fadein 0.5s;
}

.fadeOut {
  animation: fadeout 0.5s;
}

.c-datepickers {
  margin-left: 50px;
  display: flex;
  justify-content: space-evenly;
  width: 500px;
}

.v-margin {
  margin: 20px 0px;
}

.nav-pills {
  width: 100%;
}

.nav-item {
  width: 250px;
  margin: 0px 1px;
}

.nav-pills .nav-link {
  font-weight: 200;
  padding-top: 13px;
  text-align: center;
  background: rgb(0 0 0 / 11%);
  color: black;
  border-radius: 5px 5px 0px 0px;
  height: 50px;
}

.nav-pills .nav-link.active {
  background: #397897;
  color: white;
}

.tab-content {
  height: auto;
  background: #fff;
  color: #000;
  margin-bottom: 50px;
}


.table-date {
  color: #0f5fa5;
  font-weight: 500;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 300px;
  padding: 0;
  margin: 0;
}

.truncate-row {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  padding: 0;
  margin: 0;
}

.indice-bar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid grey;
  border-bottom-width: thin;
  margin-bottom: 20px;
}

.indice-selector {
  margin-left: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.indice-searchbar {
  margin-left: 10px;
  display: flex;
  align-items: center;
  background-color: #8080802e;
  border-radius: 5px;

  i {
    font-size: 20px;
    margin: 0px 5px;
  }

  input {
    padding: 5px;
    font-size: 15px;
    font-weight: 200;
    color: black;
  }
}

.indice-total-value {
  margin: 0px 5px;
  font-size: 15px;
  font-weight: 200;
  background-color: #145371;
  color: white;
  padding: 5px;
}

.btn-bar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid grey;
  border-bottom-width: thin;
  margin-bottom: 20px;

  button {
    margin-right: 10px;
    font-size: 12px;
    font-weight: 300;
    border-radius: 5px;
  }
}

.label-boldy {
  font-size: 15px;
  color: black;
  font-weight: 600;
}

.label-action-download {
  font-size: 15px;
  color: #936614;
  font-weight: 500;
  padding: 0;
  margin: 0;
  text-decoration: underline #936614;
}

.label-action-disable {
  font-size: 15px;
  color: #a10f3d;
  font-weight: 500;
  padding: 0;
  margin: 0;
  text-decoration: underline #a10f3d;
}

.label-action-detail {
  font-size: 15px;
  color: #0f5fa5;
  font-weight: 500;
  padding: 0;
  margin: 0;
  text-decoration: underline #0f5fa5;
}

.status-pendientes {
  font-size: 15px;
  color: #b57809e3;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.status-solucionadas {
  font-size: 15px;
  color: #0b0b5ec7;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.status-en-progreso {
  font-size: 15px;
  color: #054a05d4;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.status-oculto {
  font-size: 15px;
  color: #ff0000b8;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.label-active {
  font-size: 15px;
  color: teal;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.label-inactive {
  font-size: 15px;
  color: red;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.label-expired {
  font-size: 15px;
  color: #0b0b5ec7;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.page-card {
  width: 100%;
  box-shadow: 0px 0px 8px 0 rgb(0 0 0 / 37%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 5px;
  margin: 20px 0px;
}

.page-table {
  margin-bottom: 30px;


  th {
    font-size: 13.5px !important;
    padding: 10px !important;
  }

  td {
    font-size: 13.5px !important;
    padding: 10px !important;
  }
}

.stats-value {}

.stats-line {
  width: 90%;
  height: 1px;
  background-color: #145371;
  margin: 3px 0px
}

.grid-stats-1 {
  display: grid;
  justify-content: center;
  grid-gap: 15px;
  grid-template-columns: 17% 17% 17% 17% auto;
}

.grid {
  display: grid;
  justify-content: center;
  grid-gap: 15px;
  grid-template-columns: 16% 16% 16% 16%;
}

.grid-box {
  border-radius: 5px;
}

.editable-tag {
  max-width: 200px !important;
  width: 150px !important;
  text-align: center !important;
  padding: 5px !important;
  font-size: 16px !important;
  background: rgb(255, 255, 255);
  border-style: dashed;
  margin: 5px !important;
}

.txt-tips {
  font-size: 12px;
  color: orangered;
  padding: 0;
  text-align: center;
  margin-top: 20px;
}

.tag-input {
  max-width: 200px !important;
  width: 200px !important;
  text-align: center !important;
  padding: 5px !important;
  font-size: 16px !important;
}

.txt-tag {
  font-size: 16px;
  color: black;
}

.txt-h3 {
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.txt-center {
  text-align: center;
}

.popup-cancel-switch {
  font-size: 1rem;
  color: grey;
  margin: 2px;
}

.popup-cancel-content {
  margin: 10px 0px;
}

.popup-cancel-checkbox {
  display: flex;
  align-items: center;

  label {
    font-size: 20px;
    color: orangered;
    margin: 0px 10px;
  }

  p {
    padding: 0;
    margin: 0px 10px;
  }
}

.popup-cancel-btn {
  width: 200px;
  padding: 5px;
  color: white;
  background-color: orangered;
  font-size: 20px;
  margin: 15px 0px;
  border: none;
  border-radius: 5px;
}

.popup-ok-btn {
  width: 200px;
  padding: 5px;
  color: white;
  background-color: #397897;
  font-size: 18px;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
}

.popup-cancel-aviso {
  width: 100%;
  font-size: 12px;
  color: red;
  margin-top: 30px;
}

.audiencia-label {
  font-weight: 500;
  color: teal;
}

.audiencia-list {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: auto;
}

.audiencia-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
}

.item-doc-container {
  display: flex;
  flex-direction: column;
}

.detail-doc {
  position: relative;
}

.detail-doc-container {
  display: flex;
  flex-direction: column;
}

.detail-doc-close {
  position: absolute;
  right: 3px;
  top: 3px;
}

.empty-data {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.ic-table {
  overflow: auto !important;
  max-height: calc(100vh - 350px) !important;
  padding: 20px;
  border: 1px solid black;
}

.ic-table-2 {
  overflow: auto !important;
  max-height: calc(100vh - 380px) !important;
  padding: 20px;
  border: 1px solid black;
}

.page {
  width: 100%;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  background-color: white;
  padding: 5px;
}

.tableau[_ngcontent-c18] {
  text-align: center;
  font-size: 20px;
  border: lightgray 2px solid;
  padding: 20px;
}

.mat-tooltip {
  font-size: 0.9em !important;
}

.btns-line {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    margin: 5px 15px !important;
  }
}

.add-btn {
  height: 35px !important;
  min-width: 100px;
  width: fit-content !important;
  position: absolute !important;
  padding: 2px !important;
  right: 290px !important;
  bottom: 15px !important;
  z-index: 20 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 5px !important;
  background-color: #397897 !important;
  border: none !important;

  box-shadow: -4px 4px 10px 6px rgb(0 0 0 / 25%);

  img {
    width: 15px !important;
    border-radius: 50% !important;
    margin: 5px !important;
  }

  p {
    font-size: 0.7rem !important;
    padding: 0 !important;
    margin: 5px !important;
    color: white !important;
  }
}

.btn-thor-add {
  height: 35px !important;
  min-width: 100px;
  width: fit-content !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 5px !important;
  background-color: #070809cc !important;
  padding: 3px 10px !important;
  color: white !important;
  font-size: 15px !important;
  border: none !important;

  p {
    font-size: 15px !important;
    padding: 0 !important;
    margin: 3px !important;
    color: white !important;
  }
}

.btn-blue {
  height: 35px !important;
  min-width: 100px;
  width: fit-content !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 5px !important;
  background-color: #397897 !important;
  box-shadow: -4px 4px 10px 6px rgb(0 0 0 / 25%);
  padding: 3px 20px !important;
  color: white !important;
  font-size: 15px !important;
  border: none !important;

  img {
    width: 15px !important;
    border-radius: 50% !important;
    margin: 5px !important;
  }

  p {
    font-size: 15px !important;
    padding: 0 !important;
    margin: 5px !important;
    color: white !important;
  }
}

.refresh-btn {
  height: 35px !important;
  min-width: 100px;
  position: absolute !important;
  padding: 2px !important;
  right: 160px !important;
  z-index: 20 !important;
  display: flex !important;
  bottom: 15px !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 5px !important;
  background-color: #397897 !important;
  border: none !important;
  box-shadow: -4px 4px 10px 6px rgb(0 0 0 / 25%);

  img {
    width: 15px !important;
    border-radius: 50% !important;
    margin: 5px !important;
  }

  p {
    font-size: 0.7rem !important;
    padding: 0 !important;
    margin: 5px !important;
    color: white !important;
  }
}

.ic-btns-block {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0096887d;
  padding: 10px 0px;

  button {
    margin: 0px 25px !important;
  }
}

.ic-btns-block-n {
  margin: 20px;

  button {
    margin: 0px 25px !important;
  }
}

.btns-inline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-logout {
  background-color: #a10f3d !important;
  position: absolute;
  right: 20px;
}

.btn-ok {
  min-width: 100px !important;
  width: fit-content !important;
  color: #0f5fa5 !important;
  border: 1px solid #0f5fa5 !important;
  margin: 10px !important;
  padding: 3px !important;
  border-radius: 5px !important;
  font-size: 0.8rem !important;
}

.btn-cancel {
  min-width: 100px !important;
  width: fit-content !important;
  color: #F44336 !important;
  border: 1px solid #F44336 !important;
  margin: 10px !important;
  padding: 3px !important;
  border-radius: 5px !important;
  font-size: 0.8rem !important;
}

.btn-red {
  min-width: 100px !important;
  width: fit-content !important;
  color: #F44336 !important;
  border: 1px solid #F44336 !important;
  margin: 10px !important;
  padding: 3px !important;
  border-radius: 5px !important;
  font-size: 0.8rem !important;
}

.btn-red-m {
  min-width: 100px !important;
  min-height: 35px !important;
  width: fit-content !important;
  color: #F44336 !important;
  background-color: white !important;
  border: 1px solid #F44336 !important;
  margin: 10px !important;
  padding: 5px 20px !important;
  border-radius: 5px !important;
  font-size: 18px !important;
}

.btn-download-m {
  min-width: 100px !important;
  min-height: 35px !important;
  width: fit-content !important;
  color: #936614 !important;
  background-color: white !important;
  border: 1px solid #936614 !important;
  margin: 10px !important;
  padding: 5px 20px !important;
  border-radius: 5px !important;
  font-size: 18px !important;
}

.btn-teal {
  min-width: 100px !important;
  width: fit-content !important;
  color: #009688 !important;
  border: 1px solid #009688 !important;
  margin: 10px !important;
  padding: 3px !important;
  border-radius: 5px !important;
  font-size: 0.8rem !important;
}

.btn-teal-m {
  background-color: #009688 !important;
  min-width: 100px !important;
  min-height: 35px !important;
  width: fit-content !important;
  color: white !important;
  border: 1px solid #009688 !important;
  margin: 10px !important;
  padding: 5px 20px !important;
  border-radius: 5px !important;
  font-size: 18px !important;
}

.btn-disabled {
  min-width: 100px !important;
  width: fit-content !important;
  color: lightgrey !important;
  border: 1px solid grey !important;
  margin: 10px !important;
  padding: 3px !important;
  border-radius: 5px !important;
  font-size: 0.8rem !important;
}

.c-btn-disabled {
  color: grey !important;
  background-color: lightgrey;
}

.btn-grey {
  min-width: 100px !important;
  width: fit-content !important;
  color: grey !important;
  border: 1px solid grey !important;
  margin: 10px !important;
  padding: 3px !important;
  border-radius: 5px !important;
  font-size: 0.8rem !important;
}

.btn-black {
  min-width: 100px !important;
  width: fit-content !important;
  color: black !important;
  border: 1px solid black !important;
  margin: 2px !important;
  padding: 3px !important;
  border-radius: 5px !important;
  font-size: 0.8rem !important;
}

.ic-comp-h {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #91eada99;
  width: 100vw;
  height: 100vh;
  z-index: 202;
}

.ic-comp-cont-vc {
  width: 800px;
  height: calc(100vh - 150px);
  max-height: 800px;
  margin-top: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
  right: -100px;
  border-radius: 5px;
  margin-right: 110px;
}

.ic-comp-image-viewer {
  width: 450px;
  height: calc(100vh - 300px);
  max-height: 650px;
  margin-top: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000d4;
  position: relative;
  border-radius: 5px;
}

.list-border {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  padding: 3px;
}

.list-border-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  padding: 3px;
  max-height: 150px;
  overflow-y: auto;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.list-item-2 {
  display: flex;
  align-items: center;
  width: 100%;
}

.list-item>p {
  padding: 0;
  margin: 0;
}

.list-item-2>p {
  padding: 0;
  margin: 0px 5px;
  font-size: 12px;
  font-weight: 700;
}

.list-item-2>input {
  padding: 0;
  margin: 0px 5px;
}

.item-sw {
  display: flex !important;
  align-items: center !important;
}

.item-sw>p {
  margin: 0;
  margin-right: 3px;
}

.item-doc {
  display: flex;
  align-items: center;
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500px;
  color: black;
  border-bottom: 1px solid lightgray;
}

.item-doc-ext {
  border: 1px solid teal;
  border-radius: 5px;
  font-size: 15px;
  color: teal;
  padding: 0;
  margin: 0;
  padding: 3px;
  width: 10%;
  text-align: center;
}

.item-doc-name {
  font-size: 15px;
  color: teal;
  padding: 0;
  margin: 0;
  width: 40%;
  text-align: center;
}

.item-doc-date {
  font-size: 15px;
  color: grey;
  padding: 0;
  margin: 0;
  width: 30%;
  text-align: center;
}

.item-normal {
  display: flex;
  align-items: center;
}

.text-normal {
  padding: 0;
  margin: 0;
  margin-left: 5px;
  font-size: 15px;
}

.line {
  width: 90%;
  height: 1px;
  background-color: grey;
  margin: 3px 0px
}

.point-t {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  border-radius: 50%;
  background-color: white;
}

.point-orange {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  border-radius: 50%;
  background-color: orange;
}

.ic-item-h-free {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;

  p {
    padding: 0;
    margin: 0;
  }

  img {
    width: 30px;
    height: 30px;
  }
}

.ic-item-hf {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;

  p {
    padding: 0;
    margin: 0;
  }

  img {
    width: 30px;
    height: 30px;
  }
}

.ic-item-h {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;

  p {
    padding: 0;
    margin: 0;
  }

  img {
    width: 30px;
    height: 30px;
  }
}

.ic-item-hb {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid lightgrey;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;

  p {
    padding: 0;
    margin: 0;
  }
}

.ic-item-hb-xl {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border-top: 1px solid lightgrey;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;

  p {
    padding: 0;
    margin: 0;
  }
}

.ic-item-full {
  width: 100%;
  padding: 2px;
  margin: 2px;
}


.ic-item-hb-xxl {
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border-top: 1px solid lightgrey;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;

  p {
    padding: 0;
    margin: 0;
  }
}

.ic-item-v {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2px;
  margin: 2px;

  p {
    padding: 0;
    margin: 0;
  }
}

.ic-item-vl {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2px;
  margin: 2px;

  p {
    padding: 0;
    margin: 0;
  }
}

.ic-item-label {
  font-size: 0.9rem;
  color: grey;
  font-weight: 500;
}

.ic-item-label-w {
  font-size: 0.9rem !important;
  font-weight: 600 !important;
  color: grey !important;
  padding: 1px !important;
}

.ic-item-label-b {
  font-size: 0.9rem !important;
  font-weight: 600 !important;
  color: black !important;
  padding: 1px !important;
}

.ic-item-label-xl-w {
  font-size: 1.2rem;
  font-weight: 600;
  color: #c9c9d2e3;
  padding: 1px !important;
}

.ic-item-label-xl {
  font-size: 1.2rem;
  font-weight: 600;
  color: grey;
  padding: 1px !important;
}

.ic-item-value {
  font-size: 1rem;
  color: black;
  font-weight: 400;
  padding: 5px !important;
  margin: 2px 0px 0px 0px !important;
}

.ic-item-value-xl {
  font-size: 1.2rem;
  color: black;
  font-weight: 400;
  padding: 5px !important;
  margin: 2px 0px 0px 0px !important;
}

.ic-item-value-area {
  max-height: 130px !important;
  overflow-y: auto !important;
  border-radius: 5px !important;
  color: black !important;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 5px !important;

}

.ic-header {
  font-size: 1.2rem;
  color: black;
  font-weight: 500;
  position: absolute;
  top: 0px;
  width: 100%;
}

.ic-header-image-viewer {
  color: white;
  position: absolute;
  top: 0px;
  width: 100%;
}

.ic-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;

  label {
    font-size: 0.8rem;
    color: black;
    margin: 2px;
  }
}

.ic-card {
  box-shadow: 0px 6px 8px 0 rgb(29 80 80 / 92%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.ic-card-2 {
  box-shadow: 0px 0px 8px 0 rgb(0 0 0 / 37%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 5px;
}

.ic-input {
  margin: 10px 0px 0px 0px;
  width: 150px;
  height: 25px;
  border-radius: 5px;
  color: black;
}

.ic-txt-orange {
  font-size: 1rem;
  font-weight: 500;
  background-color: #ffa50099;
  padding: 5px;
  border-radius: 10px;
  color: white;
}

.ic-txt-green {
  font-size: 1rem;
  font-weight: 500;
  background-color: #008000b0;
  padding: 5px;
  border-radius: 10px;
  color: white;
}

.ic-txt-blue {
  font-size: 1rem;
  font-weight: 500;
  background-color: #0000ff99;
  padding: 5px;
  border-radius: 10px;
  color: white;
}

.ic-txt-active {
  font-size: 1rem;
  font-weight: 500;
  background-color: #008000b0;
  padding: 5px;
  border-radius: 10px;
  color: white;
}

.ic-txt-oculto {
  font-size: 1rem;
  font-weight: 500;
  background-color: #ff0000b8 !important;
  padding: 5px;
  border-radius: 10px;
  color: white;
}

.ic-txt-visible {
  font-size: 1rem;
  font-weight: 500;
  background-color: #808080cc;
  padding: 5px;
  border-radius: 10px;
  color: white;
}

.ic-txt-inactive {
  font-size: 1rem;
  font-weight: 500;
  background-color: #ffa50099;
  padding: 5px;
  border-radius: 10px;
  color: white;
}

.ic-title {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  padding: 5px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ic-title-image-viewer {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  padding: 5px;
  color: white;
  border-radius: 5px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ic-title-w {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  text-align: center;
  padding: 5px;
}

.ic-subtitle {
  font-size: 0.8rem;
  font-weight: 500;
  color: black;
  text-align: center;
  padding: 5px;
}

.ic-subtitle-red {
  font-size: 0.8rem;
  font-weight: 400;
  color: orangered;
  text-align: center;
  padding: 5px;
  border: 1px solid orangered;
}

.ic-subtitle-w {
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
  text-align: center;
  padding: 5px;
}

.ic-blur-enable>* {
  filter: blur(1.2px);
}

.ic-blur-disable {
  filter: blur(0);
}

.incidencia-image {
  width: 300px;
  padding: 5px;
}

.form-container {
  max-width: 90% !important;
  margin-top: 40px !important;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container-start {
  max-width: 90% !important;
  padding-top: 50px !important;
  height: 90% !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.i-form-container-start {
  max-width: 90% !important;
  padding-top: 10px !important;
  height: 90% !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text-crop {
  width: 100px;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
}

.container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  min-height: 650px;
  padding-left: calc(50% - var(--container-width) / 2);
  padding-right: calc(50% - var(--container-width) / 2);
}

.row-child {
  position: relative;
  height: 100%;
  max-height: 650px;
  margin: 0px 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.row-free {
  position: relative;
  height: calc(100vh - 360px);
  max-height: 650px;
  margin: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.row {
  position: relative;
  width: 50%;
  max-width: 500px;
  min-height: 95%;
  max-height: 650px;
  overflow-y: auto;
  margin: 25px;
  padding-top: 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row>h1,
h2,
h3 {
  text-align: center;
  margin-bottom: 20px !important;
}

.row-y {
  position: relative;
  width: 50%;
  max-width: 500px;
  min-height: 600px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.btn-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  margin: 3px;
}

.btn-close-image-viewer {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  margin: 3px;
}

.btn-download-image-viewer {
  position: absolute;
  top: 5px;
  right: 45px;
  width: 25px;
  height: 25px;
  margin: 3px;
}

.btn-close-left {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  margin: 3px;
}

.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid black;
}

.btn>p {
  font-size: 18px;
  font-weight: 400;
  color: black;
  padding: 0;
  margin: 0;
}

.btn-download {
  width: 20px;
  height: 20px;
  margin-left: 17px;
}

.btn-add {
  width: 30px;
  height: 30px;
  margin: 8px;
}

.txt-empty {
  font-size: 18px;
  font-weight: 400;
  color: grey;
}

.item-s {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  border: 1px solid grey;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
  height: 60px;
}

.selected {
  background-color: #6e72e761 !important;
}

.item-s>p {
  font-size: 18px;
  font-weight: 600;
  color: black;
  margin: 0;
  padding: 0;
}

.item-s>img {
  width: 50px;
  height: 50px;
  margin: 5px;
}

#grid {
  width: 500px;
  display: grid;
  grid-template-areas: "a a";
  grid-gap: 10px;
  grid-auto-rows: 100px;
}

#grid>div {
  background-color: lime;
}

.form-item {
  min-width: 400px;
  max-width: 600px;
  text-align: start;
}

.form-item input {
  width: 100%;
  max-width: 400px;
  font-size: 16px;
  border-radius: 5px;
  color: black;
}

.form-item textarea {
  max-width: 400px;
  padding: 2px;
  font-size: 14px;
  border-radius: 5px;
  color: black;
}

.cp-30 {
  width: 30%;
}

.cp-70 {
  width: 70%;
}

.pad-10 {
  padding: 10px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 5px 0px;
  position: relative;
  min-height: 50px;

  img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 10px;
    border-radius: 50%;
  }

  p {
    font-size: 15px;
    color: black;
    padding: 0;
    margin: 0;
  }
}

.menu-active {
  background-color: #008080a8;
}

.mat-select-white .mat-select-value {
  color: white !important;
}

/* @media only screen and (min-width: 992px) {
    .ticket-list {
        display: flex;
        flex-direction: column;
        padding: 10px;
        overflow-y: auto;
        height: 250px;
    }
}
@media only screen and (min-width: 1200px) {
    .ticket-list {
        display: flex;
        flex-direction: column;
        padding: 10px;
        overflow-y: auto;
        height: 500px;
    }
} */
@media only screen and (min-height: 900px) {
  .ticket-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
    height: 500px;
  }
}

@media only screen and (min-height: 500px) and (max-height: 800px) {
  .ticket-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
    height: 300px;
  }
}

@media only screen and (min-height: 200px) and (max-height: 500px) {
  .ticket-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
    height: 260px;
  }
}

.ticket-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #0e13479e;
  border-radius: 5px;
  margin: 5px 0px;
  padding: 3px;
  position: relative;
  background-color: white;
  max-width: 80vw;

  p {
    font-size: 13px;
    color: black;
    padding: 0;
    margin: 0;
    text-align: start;
  }
}

.ticket-bold {
  font-weight: 600;
}

.ticket-active {
  background-color: #008080a8;
}

.ticket-detail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  align-items: center;
  justify-content: center;
  position: relative;
}

.ticket-detail-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-height: 200px) and (max-height: 500px) {
  .ticket-detail-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 260px;
    width: 100%;
  }
}

@media only screen and (min-height: 500px) and (max-height: 800px) {
  .ticket-detail-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 100%;
  }
}

@media only screen and (min-height: 800px) {
  .ticket-detail-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 480px;
    width: 100%;
  }
}

.ticket-closed {
  background-color: #ff45008c;
}

.ticket-round-closed {
  background-color: orangered;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.ticket-round-open {
  background-color: green;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.ticket-messages {
  width: 100%;
  height: 70%;
  background-color: #1847816b;
  overflow-y: auto;
  padding: 8px;
}

.ticket-message {
  margin: 5px 0px !important;
  display: flex;
  width: 100%;
}

.ticket-message-item {
  color: white;
  margin: 5px 0px !important;
  font-size: 15px;
  width: 70%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.ticket-message-delete {
  position: absolute;
  right: -3px;
  top: -3px;
  width: 20px;
  height: 20px;
}

.ticket-actions {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30%;
}

.ticket-actions-chatbox {
  width: 100%;
  height: 100%;
  padding: 5px;

  textarea {
    width: 100%;
    height: 100%;
    background-color: #00000014;
    color: black;
    font-weight: 500;
    font-size: 15px;
  }
}

.ticket-actions-sendbtn {
  width: 30px;
  height: 30px;
}

.float-left {
  justify-content: flex-start;
}

.float-right {
  justify-content: flex-end;
}

.msg-user {
  padding: 5px;
  position: relative;
  margin: 0;
  background-color: #083560eb;
}

.msg-remote {
  padding: 5px;
  position: relative;
  margin: 0;
  background-color: #626364;
}

.msg-remitente {
  margin: 0;
  padding: 0;
  color: #e3a025;
  font-size: 12px;
}

.msg-text {
  padding: 5px;
  margin: 0;
  font-size: 14px;
}

.msg-date {
  padding: 0;
  margin: 0;
  text-align: end;
  font-size: 10px;
  margin-top: 10px;
  color: white;
  font-weight: 500;
}

.slideInTop {
  animation-name: slideinTop;
  animation-duration: 2s;
  animation-delay: 1s;

}

.slideInRight {
  animation-name: slideinRight;
  animation-duration: 2s;
  animation-delay: 0s;
}

.slideOutRight {
  animation-name: slideOutRight;
  animation-duration: 2s;
  animation-delay: 0s;
}

.c-detail-table-large {
  width: 100%;
  overflow-y: auto;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;

  ul {
    width: 100%;
  }

  .table-row {
    font-size: 15px;
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
}

.c-detail-table {
  width: 100%;
  height: calc(100% - 100px);
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 50px;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;

  ul {
    width: 80%;
  }

}

.table-250 {
  height: 250px;
}

.responsive-table {
  padding: 0;

  li {
    border-radius: 3px;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }

  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }

  .col-1 {
    flex-basis: 10%;
  }

  .col-2 {
    flex-basis: 40%;
  }

  .col-3 {
    flex-basis: 25%;
  }

  .col-4 {
    flex-basis: 25%;
  }

  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }

    .table-row {}

    li {
      display: block;
    }

    .col {

      flex-basis: 100%;

    }

    .col {
      display: flex;
      padding: 10px 0;

      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}

@keyframes slideinTop {
  0% {
    bottom: -100px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes slideinRight {
  0% {
    right: -100px;
  }

  100% {
    right: 0;
  }
}

@keyframes slideOutRight {
  0% {
    right: 0;
  }

  100% {
    right: -100px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/*
..######..##.....##....###....########..########..######.
.##....##.##.....##...##.##...##.....##....##....##....##
.##.......##.....##..##...##..##.....##....##....##......
.##.......#########.##.....##.########.....##.....######.
.##.......##.....##.#########.##...##......##..........##
.##....##.##.....##.##.....##.##....##.....##....##....##
..######..##.....##.##.....##.##.....##....##.....######.
*/

@property --p {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

.pie {
  --p: 20;
  --b: 22px;
  --c: darkred;
  --w: 150px;

  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  margin: 5px;
  place-content: center;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}

.pie:before,
.pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.pie:before {
  inset: 0;
  background:
    radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%), #0000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
  mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
}

.pie:after {
  inset: calc(50% - var(--b)/2);
  background: var(--c);
  transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}

.animate {
  animation: p 1s .5s both;
}

.no-round:before {
  background-size: 0 0, auto;
}

.no-round:after {
  content: none;
}

@keyframes p {
  from {
    --p: 0
  }
}


/* General button style */
.btn {
  border: none;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 10px 20px;
  display: inline-block;
  margin: 5px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

/* Button 1 */
.btn-basic {
  background: #145371;
  color: #fff;
  height: 40px;
}

.btn-basic:hover {
  background: #338ab3;
  color: white;
}


.btn-basic:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}

.btn-clear {
  background: #a10f3d;
  color: #fff;
  height: 40px;
}

.btn-clear:hover {
  background: #a10f3dad;
  color: white;
}


.btn-clear:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}


/* Icons */
/* .fa-square-plus:before {
  content: "\f1d8";
} */
