<h2 mat-dialog-title>
  Cierre de sesión
</h2>
<mat-dialog-content>
  ¿ Desea desconectarse del Panel Web ?
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button class="btn-ok" (click)="logout()">Si</button>
  <button mat-button class="btn-cancel" (click)="dismiss()">Cancelar</button>
</mat-dialog-actions>
