

.okey-button{
     display:flex;
    justify-content: center;
    background-color: #009688;
    margin:15px;
}

.cancel-button{
     display:flex;
    justify-content: center;
background-color: #FF5722;
margin:15px;
}

home{
    height: 400px;
    width: 300px;
    justify-content: center;
    
}
h2{
    display:flex;
    justify-content: center;
    font-weight: bold;
    
}
mat-dialog-content{
     display:flex;
    justify-content: center;
}
mat-dialog-actions{
     display:flex;
    justify-content: center;
}